p.input-error {
    color: #E74C3C;
}

.column-title a {
    color: #ffffff;
}

.dataTables_length form {
    vertical-align: middle;
    display: inline-block;
}

.filter-list {
    background: #efefef;
    padding: 10px 10px 0px 10px;
    margin-bottom: 15px;
}

.img-circle.profile_img {
    padding: 0px!important;
    width: 60px!important;
    height: 60px!important;
    object-fit: cover!important;
}

.x_panel_table th {
    width: 250px;
}

body {
    background-color: #fff !important;
}

.login-head-logo {
    text-align: center;
    margin-bottom: 20px;
}

.login-sec .card-header {
    background: none;
    text-align: center;
    border: none;
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
}
.login-sec .card {
    background: #1380c7 url(http://localhost/dev_gigstoc/public/images/abstract-background.png);
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
    border: none;
    padding: 0 0 20px 0;
    color: #fff;
    background-size: 100%;
    background-position: 0 70px;
    background-repeat: no-repeat;
}

.login-sec button {
    background: #333;
}

.login-sec button:hover {
    background: #333;
}

.login-sec .btn-link {
    color: #087ccf;
}

.main_container {
    background: #2A3F54;
}

.left_col {
    background: #fff;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.3); */
}

.nav.side-menu>li>a,
.nav.child_menu>li>a {
    color: #000;
    font-weight: 500;
}

.nav.side-menu>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background: transparent;
    color: #087ccf !important;
}

.nav.side-menu>li.active>a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: #087ccf;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    color: #fff;
}

.nav.side-menu>li.active>a:hover { 
    color: #fff !important; 
}

.nav.side-menu>li.current-page,
.nav.side-menu>li.active {
    border-right: 2px solid #087ccf;
}

.nav li li.current-page a {
    color: #087ccf;
}

.nav_menu {
background: #087ccf;
background: -moz-linear-gradient(left,  #087ccf 0%, #c5e7ff 100%);
background: -webkit-linear-gradient(left,  #087ccf 0%,#c5e7ff 100%);
background: linear-gradient(to right,  #087ccf 0%,#c5e7ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#087ccf', endColorstr='#c5e7ff',GradientType=1 );
}

.profile_info span {
    color: #000;
}

.profile_info h2 {
    color: #333;
}

.menu_section h3 {
    color: #000;
    text-shadow: none;
}

.nav_title {
    background: none;
    height: 77px;
}

.site_title {
    height: 65px;
}

.toggle a i {
    font-size: 26px;
    color: #fff;
}

.profile.clearfix {
    border-top: 1px solid #ccc;
}

img.profile-head-img {
    position: relative;
    top: 4px;
}

.top_nav .nav>li>a:focus,
.top_nav .nav>li>a:hover,
.top_nav .nav .open>a,
.top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover {
    background: #087ccf;
    /* background: -moz-linear-gradient(left,  #087ccf 0%, #c5e7ff 100%);
    background: -webkit-linear-gradient(left,  #087ccf 0%,#c5e7ff 100%);
    background: linear-gradient(to right,  #087ccf 0%,#c5e7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#087ccf', endColorstr='#c5e7ff',GradientType=1 ); */
    color: #fff !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
    background: #087ccf;
    /* background: -moz-linear-gradient(left,  #087ccf 0%, #c5e7ff 100%);
    background: -webkit-linear-gradient(left,  #087ccf 0%,#c5e7ff 100%);
    background: linear-gradient(to right,  #087ccf 0%,#c5e7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#087ccf', endColorstr='#c5e7ff',GradientType=1 ); */
    color: #fff !important;
}

.tile_stats_count {
    background: #fff;
    border: 1px solid #087ccf !important;
    padding: 15px !important;
    border-radius: 5px;
}

.tile_stats_count .count {
    color: #087ccf;
}

.tile_count .tile_stats_count span {
    font-size: 12px;
}

.dashboard-page-top span.count_top_icon {
    position: absolute;
    right: 25px;
    font-size: 35px !important;
    top: 35px;
    color: #ccc;
}

footer {
    background: #087ccf;
    background: -moz-linear-gradient(left,  #087ccf 0%, #c5e7ff 100%);
    background: -webkit-linear-gradient(left,  #087ccf 0%,#c5e7ff 100%);
    background: linear-gradient(to right,  #087ccf 0%,#c5e7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#087ccf', endColorstr='#c5e7ff',GradientType=1 );
    color: #000 !important;
    padding: 15px 20px;
    display: block;
}

.side-menu li a {
    border-bottom: 1px solid #ececec; 
}

.side-menu li a i {
    transition: all 0.3s ease-in;
}

.side-menu li a:hover i { 
    margin-right: 7px;
}

.nav.side-menu>li>a {
    margin-bottom: 0;
}

.nav-md ul.nav.child_menu li:before {
    background: #087ccf;
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #087ccf;
}

table.jambo_table thead {
    background: #5e5e5e;
    color: #ECF0F1;
}

a.btn.btn-primary {
    background: #087ccf;
}

a.btn.btn-primary {
    background: #087ccf;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    transition: all 0.5s ease-in;
}

a.btn.btn-primary:hover {
    color: #fff;
    background: #087ccf;
}

.main_container {
    background: #fff;
}

.switch {
    height: 24px;
    width: 50px;
}

.slider:before {
    height: 16px;
    width: 16px;
}

.current-page a {
    color: #087ccf !important;
}

.table-responsive td {
    vertical-align: middle !important;
}

input:checked+.slider {
    background-color: #087ccf;
}

.form-control.btn.btn-primary {
    background: #087ccf;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    transition: all 0.5s ease-in;
}

.form-control.btn.btn-primary:hover {
    color: #fff;
    background: #087ccf;
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border-right: 2px solid #087ccf;
}

.nav-sm ul.nav.child_menu {
    background: #087ccf;
}

.nav-sm ul.nav.child_menu a {
    color: #fff !important;
    font-size: 15px;
}

.nav-md img.profile-head-img.small-logo {
    display: none;
}

.nav-sm .navbar.nav_title a.site_title22 span {
    display: block !important;
}

a.site_title22 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

a.site_title22 img {
    width: 55px;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-sm .profile {
    display: block;
}

.nav-sm .profile_pic img {
    margin-left: 0 !important;
}

.nav-sm .profile_pic {
    width: 100%;
    float: none;
    text-align: center;
}

.nav-sm .profile_info {
    padding: 5px;
    width: 100%;
    float: none;
    text-align: center;
}

.nav-sm .profile_info h2 {
    font-size: 12px;
}

.nav-sm ul.nav.child_menu li {
    padding: 0 0;
    text-indent: 8px;
}

.ajax-loader span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ajax-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 70;
}

.tab-content {
    position: relative;
    min-height: 101px;
}

.ajax-loader img {
    width: 122px;
}


/*.ajax-loader-parent-div .ajax-loader {

}*/

.x_panel .x_content .table-responsive {
    position: relative;
}

.modal-confirm button.close {
    background: #cf4232;
    display: inline-block;
    width: 50px;
    height: 50px;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 25px;
    padding: 0px;
    font-weight: normal;
    box-shadow: -7px 7px 14px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    z-index: 1;
    line-height: 0;
}

.modal-confirm .modal-footer button.btn-info {
    background: #cf4232;
    border: none;
    border-radius: 5px;
}

.modal-confirm .modal-footer button.btn-warning.user-delete {
    background: #16be40;
    border: none;
    border-radius: 5px;
}

.modal-confirm .modal-header h4 {
    margin: 0;
    font-size: 22px;
    color: #1f1a17;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.modal-confirm .modal-body {
    color: #000;
}

.reviews-stars i.active {
    color: #ffc600;
}

i.del_img.fa.fa-remove {
    position: absolute;
    top: -5px;
    right: 5px;
    background: rgba(231, 76, 60, 0.88);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 9px;
}

.featured_image {
    text-align: center;
}

#image_preview img {
    border: 1px solid #ccc;
    min-height: 80px;
}

.remove_button,
.add_button {
    color: #fff;
    background: rgba(231, 76, 60, 0.88);
    padding: 4px 6px 4px 5px;
    border-radius: 100%;
    cursor: pointer;
}


/****/
.form-group.repeat {
    position: relative;
}
i.remove_button.fa.fa-minus {
    position: absolute;
    top: 8px;
    width: 20px;
    height: 20px;
    line-height: 14px;
    right: 0;
}
i.add_button.fa.fa-plus{
    position: absolute;
    top: 8px;
    width: 20px;
    height: 20px;
    line-height: 14px;
    right: 0;
}
.form-group.repeat div {
    display: inline-block;
    vertical-align: middle;
}
.ser-des {
    width: 360px;
}
.Pr-usd {
    position: relative;
    width: 110px;
} 
.Pr-usd span {
    position: absolute;
    left: 6px;
    top: 7px;
    z-index: 12;
}
.Pr-usd input {
    padding-left: 60px;
}
.nav_menu .dropdown span.badge.bg-green {
    background: #f00 !important;
    border: none !important;
    width: 20px;
    height: 20px;
    line-height: 17px;
    top: 4px; 
    right: 10px;
}
.btn.btn-success{
    background: #087ccf;
    border: 1px solid #087ccf;
}
a.btn.btn-warning {
    background: #ff3939;
    border: 1px solid #ff3939;
}
.nav-md .navbar.nav_title i{
    display: none;
}
.nav-sm .navbar.nav_title i{
    display: block;
    margin: 0 !important;
}
.nav-sm .navbar.nav_title i img{
    width: 100%;
}
.nav-sm .navbar.nav_title span{
    display: none;
}
.navbar.nav_title span img {
    width: 80%;
    margin-top: 6px;
    display: inline-block;
}
.navbar.nav_title a {
    text-align: center;
    margin: 0 !important;
    padding: 0;
}
.navbar.nav_title i {
    border: navajowhite;
}
.login-head-logo {
    text-align: center;
}
.login-sec {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    max-width: 600px;
    width: 100%;
}
.login-page .row.justify-content-center {
    min-height: 100vh;
    display: flex;
}
.login-page .row.justify-content-center .login-sec {
    padding: 50px 15px;
}
input#login_checkbox {
    position: relative;
    top: 2px;
}
.forgotpass a{
    color: #fff !important; 
}
li.paginate_button.active a {
    background:#087ccf !important;
}