/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
    color: #000;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

:root {
    --black-color: #000;
}


/***************************reset*********************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
}

body ul {
    list-style: none;
    margin: 0px;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    border: none;
    height: auto;
}

a {
    outline: 0;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

a img {
    border: 0px;
    text-decoration: none;
}


/***********************end reset*********************/

.main-wrapper {
    position: relative;
}

.top-header {
    background: #087ccf;
}

.top-header-icn li {
    margin-left: 10px;
    padding: 2px 0;
}

.top-header-icn li a {
    background: #fff;
    color: #087ccf;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
}

.main-head {
    padding: 20px 0 15px;
}

.header-main-right .hd-label {
    padding: 6px 0;
    margin-right: 5px;
}

.header-main-right .hd-label a {
    color: #0e79be;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}

.header-sign-btn li {
    margin-left: 8px;
}

.header-sign-btn li a {
    border: 1px solid #0e79be;
    color: #333;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 15px;
}

.header-sign-btn li a i {
    color: #999;
}

.header-main-right {
    padding: 10px 0;
}

.header-main-menu {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.main-header {
    padding: 0 0 20px;
}

.banner-content {
    position: relative;
}

.banner-cont {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
}

.banner-cont-in h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.banner-cont-in h2::after {
    content: "";
    border-top: 3px solid #087ccf;
    position: absolute;
    min-width: 150px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner-cont-in p {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    margin: 0;
}

.banner-secrch {
    margin: 50px 0 0;
}

.banner-cont-in {
    max-width: 650px;
    margin: 0 auto;
}

.banner-cont-in .banner-secrch .input-group {
    border-radius: 30px;
    background: #fff;
    overflow: hidden;
    border: 2px solid #087ccf;
}

.input-group-prepend {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    border: none;
    color: #087ccf;
}

.banner-cont-in .banner-secrch .input-group input {
    border: none;
    font-size: 14px;
    color: #000;
    padding: 15px 12px;
    box-shadow: none;
}

.section-div {
    padding: 55px 0;
}

.section-head {
    text-align: center;
    margin: 0 0 35px;
}

.section-head h2 {
    color: #0e79be;
    position: relative;
    display: inline-block;
    padding: 5px 0;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
}

.section-head p {
    color: #3f3f3f;
    font-size: 15px;
    margin: 0;
}

.section-head h2::before,
.section-head h2:after {
    content: "";
    border-top: 2px solid #087ccf;
    width: 55px;
    position: absolute;
    display: inline-block;
}

.section-head h2::before {
    top: 0;
    left: 0;
}

.section-head h2:after {
    right: 0;
    bottom: 0;
}

.sellers-item {
    border: 1px solid #dddddd;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

.sellers-img {
    height: 125px;
    overflow: hidden;
}

.sellers-img a {
    display: block;
    height: 100%;
}

.sellers-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sellers-title {
    background: #eeeeee;
    height: 50px;
    line-height: normal;
    padding: 3px 8px;
    overflow: hidden;
}

.sellers-title a {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 600;
}

.sellers-cont table {
    width: 100%;
}

.sellers-cont table td {
    font-size: 13px;
    padding: 8px;
}

.sellers-cont table td.admin-color,
.sellers-cont table td .view-icn i {
    color: #0e79be;
}

.sellers-cont table td:last-child {
    text-align: right;
}

.sellers-cont table td span.pro-rating {
    font-size: 11px;
    color: #0e79be;
}

.sellers-btn a {
    display: block;
    background: #0e79be;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.sellers-btn a i {
    transition: all 0.3s ease-in;
    padding-left: 2px;
}

.sellers-btn a:hover i {
    padding-left: 8px;
}

.banner-section .banner-slider .owl-nav.disabled,
.best-sellers-slider .sellers-slider .owl-nav.disabled,
.testimonials-slider-section .testimonials-slider .owl-nav.disabled {
    display: block;
}

.banner-section .banner-slider .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 48px;
    width: 48px;
    display: flex;
    color: #fff;
    font-size: 60px;
    background: #0e79be;
    outline: none;
    align-items: center;
    justify-content: center;
}

.banner-section .banner-slider .owl-nav button span {
    line-height: 40px;
}

.banner-section .banner-slider .owl-nav button.owl-prev {
    left: 0;
}

.banner-section .banner-slider .owl-nav button.owl-next {
    right: 0;
}

.banner-section .banner-slider .owl-nav button.owl-prev::before,
.banner-section .banner-slider .owl-nav button.owl-next::before {
    content: "";
    background: #fff;
    width: 5px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 5px;
}

.banner-section .banner-slider .owl-nav button.owl-prev::after,
.banner-section .banner-slider .owl-nav button.owl-next::after {
    content: "";
    background: #fff;
    width: 100%;
    height: 5px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
}

.banner-section .banner-slider .owl-nav button.owl-prev::before {
    left: 100%;
}

.banner-section .banner-slider .owl-nav button.owl-next::before {
    right: 100%;
}

.banner-section .banner-slider .owl-nav button.owl-prev::after {
    left: 5px;
}

.banner-section .banner-slider .owl-nav button.owl-next::after {
    right: 5px;
}

.best-sellers-slider .sellers-slider .owl-nav {
    position: absolute;
    right: 10px;
    top: -35px;
}

.best-sellers-slider .sellers-slider .owl-nav button {
    background: #0e79be;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin: 0 2px;
    outline: none;
}

.testimonials-slider-section .testimonials-slider .owl-nav button {
    background: #0e79be;
    color: #fff;
    width: 42px;
    height: 42px;
    font-size: 35px;
    line-height: 30px;
    border-radius: 5px;
    margin: 0 2px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.testimonials-slider-section .testimonials-slider .owl-nav button.owl-prev {
    left: 0;
}

.testimonials-slider-section .testimonials-slider .owl-nav button.owl-next {
    right: 0;
}

.freelancer-section {
    background: #f6f6f6;
}

.freelancer-img {
    border-radius: 5px;
    overflow: hidden;
}

.freelancer-img img {
    width: 100%;
}

.freelancer-text h2 {
    font-size: 22px;
    font-weight: 800;
    color: #0e79be;
}

.freelancer-text p {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    margin: 0;
}

.categories-cont ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.categories-cont ul li {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 8px;
    text-align: center;
}

.categories-item {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 18px;
    position: relative;
}

.categories-item .categories-title {
    font-size: 15px;
    font-weight: 600;
    margin: 12px 0 0;
}

.categories-item::before {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #cfe4f2;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.recently-added-cont .row {
    margin: 0 -10px;
}

.recently-added-cont .col-md-3 {
    padding: 0 10px;
}

.recently-added-cont .sellers-item {
    margin: 0 0 20px;
    max-width: 100%;
}

.recently-added-section.section-div {
    padding: 30px 0 0;
}

.recently-added-cont {
    background: #444444;
    padding: 65px 0 45px;
}

.view-jobs-btn {
    margin: 20px 0 0;
}

.view-jobs-btn a.btn {
    background: #fff;
    border-radius: 60px;
    min-width: 220px;
    transition: all 0.3s ease-in;
    color: #0e79be;
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 6px 6px 25px;
}

.view-jobs-btn a.btn span {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
}

.view-jobs-btn a.btn i {
    float: right;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #0e79be;
    border-radius: 50%;
    position: relative;
}

.view-jobs-btn a.btn:hover {
    min-width: 230px;
}

.recently-added-cont .sellers-title a {
    font-size: 17px;
    text-transform: inherit;
}

.recently-added-cont .sellers-cont table td {
    font-size: 15px;
}

.recently-added-cont .sellers-btn a {
    font-size: 13px;
}

.features-gigstoc-item {
    background: #fff;
    text-align: center;
    transition: all 0.3s ease-in;
    border: 1px solid #0e79be;
    border-radius: 10px;
    padding: 30px;
    min-height: 100%;
}

.features-gigstoc-item:hover {
    background: #d3eeff;
}

.features-gi-cont p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.features-gi-cont h2 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding: 0 0 7px;
}

.features-gi-cont h2::after {
    content: "";
    min-width: 45px;
    border-bottom: 2px solid #0e79be;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.features-icn-in {
    display: inline-block;
    width: 130px;
    height: 130px;
    position: relative;
}

.features-icn-in::after {
    content: "";
    background: #6ac2fc;
    width: 42px;
    height: 42px;
    display: inline-block;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-radius: 50%;
}

.features-gi-iocn span {
    background: #fff;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

.features-gi-iocn {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: -90px 0 30px;
}

.features-gigstoc-items {
    margin: 100px 0 0;
}

.features-gigstoc-section {
    position: relative;
}

.features-gigstoc-section::before {
    content: "";
    background: #0e79be;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    z-index: -1;
}

.features-gigstoc-section .section-head h2,
.features-gigstoc-section .section-head p {
    color: #fff;
}

.features-gigstoc-section .section-head h2::before,
.features-gigstoc-section .section-head h2:after {
    border-top: 2px solid #fff;
}

.effective-work-inn .section-head h2 {
    font-weight: 900;
}

.effective-work-inn .section-head h2::after,
.effective-work-inn .section-head h2::before {
    content: none;
}

.effective-work-items .features-gi-iocn {
    margin: 0 0 20px;
}

.effective-work-items .features-gigstoc-item {
    padding: 0;
    border: none;
    background: none !important;
}

.effective-work-items .features-gi-cont {
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    padding: 20px 20px 50px;
    position: relative;
}

.effective-work-items .features-gi-cont h2 {
    font-size: 17px;
}

.effective-work-items .features-icn-in {
    width: 90px;
    height: 90px;
}

.effective-work-items .features-icn-in::after {
    width: 32px;
    height: 32px;
}

.features-num {
    display: flex;
    justify-content: center;
    bottom: -20px;
    position: absolute;
    left: 0;
    width: 100%;
}

.features-num span {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
}

.projects-table .table td {
    border: none;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    padding: 15px 20px;
}

.view-detail-btn a {
    background: #1381c8;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 800;
    padding: 8px 20px;
    border: none;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.view-detail-btn a:hover {
    background-image: linear-gradient(90deg, #30aeff, #0e79be);
}

.projects-table-btns {
    text-align: center;
    margin-top: 40px;
}

.projects-table-btns li {
    display: inline-block;
    vertical-align: middle;
}

.projects-table-btns li a {
    background: #fff;
    border-radius: 60px;
    min-width: 220px;
    transition: all 0.3s ease-in;
    border: 1px solid #0e79be;
    color: #0e79be;
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 6px 6px 25px;
    transition: all 0.3s ease-in;
}

.projects-table-btns li a i {
    float: right;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s ease-in;
    background: #0e79be;
    border-radius: 50%;
    position: relative;
}

.projects-table-btns li a span {
    padding: 5px 20px 5px 0;
    display: inline-block;
    transition: all 0.3s ease-in;
}

.projects-table-btns li:nth-child(2) a {
    background: #0e79be;
    color: #fff;
}

.projects-table-btns li:nth-child(2) a i {
    background: #fff;
    color: #0e79be;
}

.testimonials-item {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
    margin: 20px 20px 50px;
    padding: 0 40px;
    text-align: center;
    border-radius: 8px;
}

.testimonials-rat {
    margin: 5px 0 10px;
}

.testimonials-rat span.pro-rating {
    color: #0e79be;
    font-size: 14px;
}

.testimonials-slider-section {
    max-width: 90%;
    margin: 0 auto;
}

.testimonials-icn span {
    display: inline-block;
    margin: -20px 0 0px;
}

.testimonials-cont p {
    font-size: 15px;
    font-weight: 500;
    max-width: 85%;
    margin: 0 auto 10px;
}

.testimonials-user h2 {
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
}

.testimonials-user-img span {
    display: inline-block;
    height: 88px;
    width: 88px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 -50px;
}

.get-join-section {
    background: #0e79be;
    padding: 40px 0 0;
}

.get-join-area {
    text-align: center;
    color: #fff;
}

.get-join-area h2 {
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
}

.get-join-area p {
    font-size: 18px;
    font-weight: 500;
}

.join-btn span {
    display: inline-block;
    height: 125px;
    width: 125px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    padding: 12px;
    margin: 0 0 -170px;
    position: relative;
}

.join-btn a {
    background: #1381c8;
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 0.3s ease-in;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50%;
    padding: 10px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
}

.join-btn a:hover {
    background-image: linear-gradient(90deg, #30aeff, #0e79be);
}

.main-footer {
    background: #4a4a4a;
    padding: 110px 0 45px;
}

.footer-menu {
    margin: 0 0 25px;
}

.footer-menu p {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 5px;
}

.footer-menu li a {
    color: #d9d9d9;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.footer-copy-right {
    background: #232323;
    padding: 15px 0;
}

.copy-text {
    color: #d9d9d9;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0;
}

.footer-scl ul li {
    margin-left: 10px;
    padding: 2px 0;
}

.footer-scl ul li a {
    background: #fff;
    color: #087ccf;
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
}

.envl-icon {
    margin: 0 0 8px;
}

.footer-email-form h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 5px;
}

.footer-email-form p {
    color: #d9d9d9;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
}

.footer-email-form .input-group {
    margin: 10px 0 0;
    background: #6a6a6a;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    overflow: hidden;
}

.footer-email-form .input-group input {
    background: #6a6a6a;
    border: none;
    color: #fff;
    padding: 10px 20px;
}

.home .main-wrapper .middle-section {
    background: none;
}

.middle-section {
    background: #f4f4f4;
}

.main-page {
    padding: 50px 0;
}

.sign-area-inn {
    background: #fff;
    padding: 45px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 30px;
}

.sign-head h2 {
    color: #0e79be;
    font-size: 29px;
    font-weight: 900;
    margin: 0;
    position: relative;
}

.sign-head h2::before {
    border-top: 2px solid #8dcfff;
    content: "";
    position: absolute;
    left: -55px;
    top: 50%;
    display: inline-block;
    width: 45px;
}

.sign-head p {
    margin: 0;
    font-size: 13px;
    color: #595959;
    font-weight: 500;
}

.sign-head {
    margin: 0 0 35px;
    padding-left: 55px;
}

.sign-form .form-group label {
    color: #0e79be;
    font-size: 13px;
    font-weight: 500;
    padding-left: 55px;
    margin: 0;
}

.sign-form .form-group label span {
    color: #ff0000;
    font-weight: 500;
}

.sign-form .form-group input.form-control,
.sign-form .form-group textarea.form-control {
    border: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    box-shadow: none;
    padding: 0 10px;
    min-height: 33px;
}

.sign-form .form-group textarea.form-control {
    min-height: 100px;
}

.sign-form .form-group .input-group-text {
    font-size: 25px;
    color: #112782;
}

.sign-form .form-group .input-group {
    border-bottom: 1px solid #0e79be;
    padding: 0 5px 0 45px;
}

.sign-form .form-group .input-group .input-group-append {
    position: absolute;
    left: 0;
    top: -3px;
    min-width: 45px;
    text-align: center;
}

.sign-form .form-group {
    margin: 0 0 25px;
}

.custom-forgot a,
.custom-checkbox .custom-control-label {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}

.custom-checkbox .custom-control-label {
    padding-left: 35px;
    position: relative;
}

.custom-checkbox .custom-control-label::before {
    content: "";
    border: 1px solid #112782;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.custom-checkbox .custom-control-input:checked+.custom-control-label::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 4px;
    top: 0px;
    color: #112782;
}

.sign-form .form-group .custom-checkbox label {
    padding: 0;
}

.sign-form .form-group .custom-checkbox .custom-control-label {
    color: #000;
}

.sign-form .form-group .custom-checkbox .custom-control-label a {
    color: #112782;
}

.sign-form button.btn {
    background: #1381c8;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 800;
    padding: 6px 35px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.sign-in-or {
    border: 1px solid #112782;
    border-radius: 8px;
    margin: 50px 0 0;
    padding: 25px;
    text-align: center;
    position: relative;
}

.sign-in-or .sign-with {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sign-in-or .sign-with ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-or .sign-with p {
    margin: 0;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 700;
}

.sign-in-or .sign-with ul li {
    margin: 0 5px;
}

.sign-in-or .sign-with ul a {
    height: 45px;
    width: 45px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-or .sign-with ul li:nth-child(1) a {
    background: #3c65c4;
}

.sign-in-or .sign-with ul li:nth-child(2) a {
    background: #cf4232;
}

.sign-in-or .sign-or {
    position: absolute;
    left: 20px;
    top: -20px;
    border: 1px solid #112782;
    height: 40px;
    width: 40px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
}

.sign-have-link {
    margin: 25px 0 0;
}

.sign-have-link label {
    font-weight: 500;
    color: #3c3c3c;
    font-size: 14px;
}

.sign-have-link label a {
    color: #112782;
    font-weight: 600;
}

.sign-area-inn>.row>div[class*="col-"] {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
}

.sign-form-area {
    width: 100%;
}

.page-breadcrumb-head .breadcrumb {
    margin: 0;
    padding: 9px 0;
    background: none;
    justify-content: flex-end;
}

.page-breadcrumb-head .breadcrumb li {
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.page-breadcrumb-head .breadcrumb li a {
    color: #b4b4b4;
}

.sign-image {
    width: 100%;
    text-align: center;
}

.sign-map img {
    width: 100%;
}

.sign-map {
    border-radius: 10px;
    border: 1px solid #0e79be;
}

.sign-lets-form ul li {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
    padding: 0 0 10px;
    position: relative;
}

.sign-lets-form ul li::after {
    content: "";
    border-bottom: 1px solid #0e79be;
}

.form-lets-icn {
    width: 60px;
}

.form-lets-text {
    width: calc(100% - 60px);
    padding: 15px 0 0;
}

.sign-lets-form ul li::after {
    content: "";
    border-bottom: 1px solid #0e79be;
    width: calc(100% - 22px);
    position: absolute;
    left: 22px;
    bottom: 0;
}

.form-lets-text h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    margin: 0 0 5px;
}

.form-lets-text p {
    color: #525252;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.form-lets-icn span {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e79be;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
}

.form-lets-icn span:after {
    content: "";
    border-left: 1px solid #0e79be;
    min-height: 22px;
    position: absolute;
    left: 50%;
    top: 100%;
}

.page-wt-back {
    background: url(../images/wt-back.png) no-repeat bottom left #fff;
    padding: 35px 35px 180px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.page-wt-bk {
    background: #fff;
    padding: 35px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.trust-qut-item {
    margin: 0 0 35px;
    color: #1a1a1a;
}

.trust-qut-item p {
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 28px;
}

.trust-qut-item ul {
    margin: 0 0 25px;
    list-style: inside;
}

.trust-qut-item li {
    font-size: 15px;
    line-height: 28px;
}

.trust-qut-item p b {
    font-weight: 600;
}

.trust-qut-item h3 {
    color: #0e79be;
    font-size: 20px;
    font-weight: 700;
    padding-left: 22px;
    position: relative;
}

.trust-qut-item h3::before {
    content: "";
    background: #087ccf;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}

.trust-qut-item p b span {
    color: #0e79be;
    font-size: 18px;
    font-weight: 700;
}

.trust-qut-item h4 {
    color: #0e79be;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 15px;
}

.trust-qut-item-btn a.btn {
    border-radius: 60px;
    border: aliceblue;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background: #0e79be;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 30px;
    transition: all 0.3s ease-in;
}

.buying-gigstoc-page .trust-qut-item-btn a.btn {
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    font-size: 18px;
}

.about-cont-img {
    padding: 60px 0 0;
}

.about-cont-main {
    margin: 0 0 30px;
}

.about-cont-main h2 {
    color: #0e79be;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 20px;
}

.about-cont-main p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}

.about-item h3 {
    color: #010101;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.about-item p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

.about-item {
    margin: 0 0 15px;
    padding: 0 0 12px 25px;
    position: relative;
}

.about-item:not(:last-child) {
    border-bottom: 1px solid #e4f1fe;
}

.about-item::before {
    content: "";
    background: #087ccf;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}

.about-page-hire {
    margin: 35px 0 0;
    background: #2585c3;
    padding: 20px;
    border-radius: 5px;
}

.about-in-hire {
    background: #0e79be;
    border: 2px solid #86d0ff;
    padding: 30px;
    border-radius: 5px;
}

.about-in-hire .view-jobs-btn a.btn {
    min-width: 180px;
}

.about-in-hire h1 {
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    text-shadow: 1px 2px 3px #666;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 10px;
}

.about-in-hire h1::after {
    content: "";
    border-top: 3px solid #15a3ff;
    min-width: 155px;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.about-in-hire p {
    font-size: 19px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
}

.about-page-cout {
    margin: 60px auto;
    max-width: 80%;
}

.about-item-cout {
    text-align: center;
}

.about-item-cout {
    text-align: center;
    background: #2585c3;
    border-radius: 8px;
    padding: 0 15px 30px;
}

.about-item-cout-item span {
    color: #003d64;
    font-size: 38px;
    width: 68px;
    height: 68px;
    margin: -25px 0 0;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-item-cout-item {
    display: flex;
    justify-content: center;
    margin: 0 0 25px;
}

.about-item-cout-cont h3 {
    color: #fff;
    margin: 0 0 5px;
    font-size: 39px;
    font-weight: 900;
}

.about-item-cout-cont p {
    font-size: 14px;
    color: #afe0ff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.about-page-txt h2 {
    margin: 0 0 15px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
}

.about-page-txt p {
    font-size: 13px;
    color: #3d3d3d;
    line-height: 25px;
    font-weight: 500;
}

.about-page-txt p:last-child {
    margin: 0;
}

.header-main-af {
    display: flex;
    flex-wrap: wrap;
}

.header-main-af>div {
    margin-left: 15px;
}

.header-main-af .postAjob a {
    background: #1381c8;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 800;
    padding: 6px 10px 6px 15px;
    height: 32px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.header-main-af .postAjob a i {
    float: right;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0e79be;
    transition: all 0.3s ease-in;
    background: #fff;
    border-radius: 50%;
    position: relative;
    font-size: 12px;
    margin-left: 8px;
}

.top-notification>ul>li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}

.top-notification ul li button {
    height: 32px;
    width: 32px;
    display: flex;
    border-radius: 50%;
    background: #424242;
    color: #fff;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
}

.top-notification ul li button span {
    height: 18px;
    width: 18px;
    background: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 50%;
    font-size: 12px;
    overflow: hidden;
    border: 1px solid #fff;
}

.top-notification .dropdown-toggle::after {
    content: none;
}

.top-notification .dropdown-menu {
    min-width: 300px;
    border-radius: 0;
    border: none;
    padding: 0;
    background: none;
    transform: translate3d(0px, 0px, 0px) !important;
    top: 50px !important;
    left: auto !important;
    right: -80px;
}

.top-notification .dropdown-menu .dropdown-inner {
    overflow: hidden;
    border-radius: 10px;
    background: #f2f2f2;
}

.dropdown-middle-bar {
    max-height: 160px;
    overflow: auto;
}

.dropdown-header-bar {
    background-image: linear-gradient(90deg, #4a4a4a, #737373);
    padding: 15px;
    font-size: 13px;
    height: 50px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 0 18px rgba(66, 66, 66, 0.55);
}

.top-notification .dropdown-menu:before,
.head-user-drop .dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #676767;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 100%;
    right: 86px;
}

.head-user-drop .dropdown-menu:before {
    right: auto;
    left: 8px;
}

.notification-list li a {
    display: flex;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.notification-list li a:hover {
    background: #fff;
}

.not-list-cont h2 {
    font-size: 13px;
    color: #000000;
    margin: 0;
    font-weight: 600;
}

.not-list-cont p {
    margin: 0;
    color: #7d7d7d;
    font-size: 11px;
}

.notification-list li .not-list-img {
    width: 30px;
}

.notification-list li .not-list-img span {
    font-size: 20px;
    color: #087ccf;
    width: 25px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
}

.notification-list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-footer-bar {
    border-top: 1px solid #fff;
}

.view-all-btn a {
    display: block;
    color: #087ccf;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.view-all-btn a:hover {
    background: #087ccf;
    color: #fff;
}

.dropdown-header-bar .not-head {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.head-user-drop button.dropdown-toggle {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.head-user-drop .dropdown-menu {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #424242;
    font-weight: 500;
    min-width: 200px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #4a4a4a, #737373);
    transform: translate3d(0px, 0px, 0px) !important;
    top: 50px !important;
}

.head-user-drop span.user-img {
    color: #a2a2a2;
    font-size: 32px;
    line-height: 30px;
    margin-right: 5px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.head-user-drop .dropdown-toggle::after {
    border-top: .3em solid #087ccf;
}

.head-user-drop ul.dropdown-link li {
    display: block;
    border-bottom: 1px solid #fff;
}

.head-user-drop ul.dropdown-link li:last-child {
    border: none;
}

.head-user-drop ul.dropdown-link li a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in;
}

.blog-item {
    border-top: 2px solid #087ccf;
    position: relative;
    margin: 0 0 50px;
}

.blog-img {
    min-height: 408px;
}

.blog-cont {
    background: rgba(255, 255, 255, 0.90);
    border-radius: 5px;
    padding: 10px 25px 25px;
    position: relative;
    margin: -170px 0 0;
    width: 68%;
    display: block;
    left: 5%;
}

.single-blog-page-area .blog-cont {
    width: 90%;
    margin: -170px auto 0;
    left: 0;
}

.blog-date-name {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px;
}

.blog-date {
    width: 88px;
    background: #fff;
    border: 1px solid #0e79be;
    border-radius: 8px;
    margin-top: -45px;
    text-align: center;
}

.blog-name-user {
    margin-left: 10px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.blog-name-user i {
    color: #a2a2a2;
    font-size: 20px;
    vertical-align: middle;
}

.blog-name-user img {
    height: 21px;
    width: 21px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
}

.blog-date b {
    display: block;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 0 0;
}

.blog-date span {
    display: block;
    color: #737373;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    padding: 0 0 4px;
}

.blog-date small {
    display: block;
    border-top: 1px solid #0e79be;
    font-size: 13px;
    color: #000;
    padding: 4px 0 2px;
}

.blog-txt h2 {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
}

.blog-txt p {
    font-size: 13px;
    margin: 0;
}

.blog-read-btn {
    margin: 20px 0 0;
    text-align: right;
}

.blog-read-btn a {
    background: #1381c8;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.35);
    padding: 8px 20px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.pagination-div ul.pagination li.page-item a {
    height: 45px;
    width: 45px;
    display: flex;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border-radius: 50%;
    background: none;
    border: 1px solid #000;
}

.pagination-div ul.pagination li.page-item.active a {
    background: #0e79be;
    border: 1px solid #0e79be;
    color: #fff;
}

.pagination-div ul.pagination li.page-item {
    margin: 0 10px;
}

.pagination-div ul.pagination li.page-item:first-child a,
.pagination-div ul.pagination li.page-item:last-child a {
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
}

.single-blog-page-area .blog-cont .blog-txt p {
    margin: 0 0 20px;
    font-size: 15px;
}

.single-blog-page-area .blog-item {
    margin: 0;
}

.pagination-div {
    margin: 25px 0 0;
}

.pagination-page li {
    display: inline-block;
    margin: 0 10px;
}

.pagination-page li a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
    min-width: 150px;
    text-align: center;
}

.top-section-pajob {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 50px;
}

.post-aJob a.btn {
    background: #0e79be;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    border-radius: 60px;
    min-width: 220px;
    border: none;
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 6px 6px 25px;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.40);
}

.dashboard-withdraw-btn.post-aJob a.btn {
    padding: 7px 25px;
    font-size: 13px;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.msg_card_body {
    overflow-y: auto;
}

.container {
    align-content: center;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 15px;
    border-bottom: 1px solid #44a1e5;
}

.user_img {
    height: 50px;
    width: 50px;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 2px;
    right: 2px;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 10px 15px;
    position: relative;
    font-size: 13px;
    color: #000;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #d8efff;
    padding: 10px 15px;
    position: relative;
    font-size: 13px;
    color: #000;
}

.msg_time {
    position: absolute;
    bottom: -18px;
    color: #959595;
    font-size: 10px;
}

.msg_cotainer_send .msg_time {
    left: auto;
    right: 0;
}

.msg_card_body .d-flex {
    position: relative;
}

span.msg_time.msg_sender_time {
    right: 55px;
}

span.msg_time.msg_receiver_time {
    left: 55px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

.post-aJob a span {
    padding: 5px 20px 5px 0;
    display: inline-block;
    transition: all 0.3s ease-in;
}

.post-aJob a i {
    background: #fff;
    color: #0e79be;
    float: right;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    border-radius: 50%;
    position: relative;
}

.top-section-head h2 {
    margin: 0;
    font-size: 29px;
    font-weight: 500;
    color: #fff;
}

.top-section-head {
    background: #087ccf;
    padding: 35px;
    position: relative;
    height: 140px;
}

.top-section-head:after {
    content: "";
    border-right: 100px solid transparent;
    border-left: 0px solid transparent;
    border-top: 140px solid #087ccf;
    position: absolute;
    left: 100%;
    top: 0;
}

.post-aJob-right {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
}

.top-filter {
    margin: 0 0 25px;
}

.filter-left p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.filter-right {
    font-size: 15px;
    font-weight: 500;
}

.filter-right label {
    margin: 0 10px 0 0;
}

.filter-right select {
    background: #fff url(../images/select-droup.png) no-repeat right 15px center;
    border: none;
    padding: 10px 15px;
    min-width: 250px;
    border-radius: 5px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
}

.alljob-requests-item {
    background: #fff;
    margin: 0 0 15px;
    border-radius: 8px;
}

.alljob-req-main {
    padding: 20px 20px 15px;
    border-bottom: 1px solid #eae9e9;
}

.alljob-req-main h2 {
    margin: 0;
    color: #087ccf;
    font-weight: 700;
    font-size: 17px;
    position: relative;
    padding-left: 18px;
}

.alljob-req-main h2::before {
    content: "";
    background: #1483ca;
    height: 7px;
    width: 7px;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 7px;
}

.alljob-req-main p {
    font-size: 14px;
    color: #424242;
    margin: 5px 0 0;
    font-weight: 500;
}

.alljob-req-main p span {
    color: #9b9b9b;
}

.alljob-req-tag {
    padding: 15px 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.alljob-req-tag label {
    font-size: 14px;
    color: #424242;
    font-weight: 500;
    margin-right: 15px;
}

.alljob-req-tag ul {
    display: flex;
    flex-wrap: wrap;
}

.alljob-req-tag ul li {
    margin-right: 10px;
}

.alljob-req-tag ul li a {
    background: #1381c8;
    color: #fff;
    font-size: 11px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    padding: 6px 15px;
    transition: all 0.3s ease-in;
    display: inline-block;
    font-weight: 500;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.category-main-pro ul {
    display: flex;
    flex-wrap: wrap;
}

.category-main-pro ul li {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    margin: 0 0 10px;
}

.category-main-items {
    background: #fff;
    padding: 20px 20px 80px;
    border-radius: 8px;
}

.filter-left h3 {
    margin: 0;
    font-size: 19px;
    color: #424242;
    font-weight: 500;
    padding-left: 8px;
    border-left: 3px solid #087ccf;
}

.category-side-bar {
    background: #fff;
    border-radius: 8px;
}

.category-side-head {
    border-bottom: 1px solid #f4f4f4;
    padding: 12px 15px;
}

.category-side-head h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: #424242;
    padding-left: 12px;
    border-left: 3px solid #087ccf;
}

.category-side-menu li a {
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 12px 15px;
}

.category-side-menu>ul>li:not(:first-child) {
    border-top: 1px solid #f4f4f4;
}

.category-side-menu>ul>li>ul {
    padding-left: 15px;
    display: none;
}

.category-side-menu span.new::before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.category-side-menu ul li {
    position: relative;
}

.category-side-menu ul li span.new {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a5a5a5;
    cursor: pointer;
}

.category-side-menu ul li.hover ul {
    display: block;
}

.category-side-menu ul li.hover {
    background: #e9e9e9;
}

.category-side-menu li.hover>a {
    font-weight: 600;
    color: #0e79be;
}

.user-cont-btn {
    text-align: center;
    margin: 35px 0 0;
}

.user-cont-btn a.btn {
    background: #0e79be;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    border-radius: 60px;
    min-width: 200px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 6px 6px 25px;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.40);
    text-align: center;
}

.user-cont-btn a.btn i {
    background: #fff;
    color: #0e79be;
    float: right;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    border-radius: 50%;
    position: relative;
}

.user-cont-btn a.btn span {
    padding: 6px 20px 5px 0;
    display: inline-block;
}

.user-dtl-div {
    padding: 15px 15px 35px;
}

.user-profile {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    border-bottom: 1px solid #e8e8e8;
}

.user-name {
    width: calc(100% - 75px);
    padding-left: 10px;
}

.user-img span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #0e79be;
}

.user-name h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.user-name p {
    margin: 0;
}

.user-name p span.pro-rating {
    font-size: 13px;
    color: #ffc600;
}

.user-name {
    width: calc(100% - 75px);
    padding: 10px 0 0 10px;
}

.profile-page-head {
    background: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 0 15px;
}

.profile-page-head h1 {
    margin: 0;
    font-size: 30px;
    color: #087ccf;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 25px;
    position: relative;
}

.profile-page-head h1::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: #087ccf;
    position: absolute;
    left: 0;
    top: 12px;
}

.user-dtl h2 {
    padding: 12px 15px;
    background: #f4f4f4;
    border-radius: 8px;
    font-size: 14px;
    color: #424242;
    font-weight: 500;
}

.user-dtl h2 i {
    font-size: 17px;
    color: #44a1e5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.user-dtl p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    padding-left: 25px;
}

.user-dtl {
    margin: 0 0 10px;
}

.how-it-works-head {
    text-align: center;
    margin: 0 0 40px;
}

.how-it-works-head h2 {
    margin: 0 0 10px;
    padding: 0 0 8px;
    position: relative;
    font-size: 28px;
    font-weight: 900;
    color: #0e79be;
    text-transform: uppercase;
}

.how-it-works-head h2::after {
    content: "";
    border-top: 2px solid #b6e2ff;
    width: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.how-it-works-head p {
    color: #424242;
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.how-it-item {
    text-align: center;
    padding: 0 0 80px;
}

.how-it-item:last-child {
    padding: 0;
}

.how-it-cont h3 {
    font-size: 18px;
    color: #0e79be;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 10px;
}

.how-it-cont p {
    color: #424242;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}

.how-it-cont {
    max-width: 900px;
    margin: 0 auto;
}

.how-it-icn {
    display: flex;
    justify-content: center;
    margin: 0 0 80px;
}

.how-it-icn span {
    background: url(../images/hw-rf-img.png) no-repeat center center;
    height: 153px;
    width: 153px;
    color: #0e79be;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 3px 4px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.how-it-item .how-it-icn span::before {
    content: "";
    background: url(../images/how-work-dt.png) no-repeat center center;
    display: inline-block;
    width: 9px;
    height: 52px;
    position: absolute;
    top: calc(100% + 10px);
    left: calc(50% - 4px);
}

.how-it-item:not(:first-child) .how-it-icn span::after {
    content: "";
    background: url(../images/how-work-dt.png) no-repeat center center;
    display: inline-block;
    width: 9px;
    height: 52px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: calc(50% - 4px);
    transform: rotate(180deg);
}

.category-side-bar .sellers-item {
    max-width: 100%;
}

.wht-bcack {
    background: #fff;
    border-radius: 8px;
}

.check-head-div {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
}

.check-head-div h2 {
    margin: 0;
    padding-left: 20px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: #424242;
    font-weight: 700;
}

.check-head-div h2::before {
    content: "";
    background: #087ccf;
    height: 8px;
    width: 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
}

.check-out-div {
    margin: 0 0 20px;
}

.check-out-main-div {
    padding: 30px 25px;
}

.check-out-table table,
.check-out-table table th,
.check-out-table table td {
    margin: 0;
    border: 1px solid #d6d6d6;
}

.check-out-table table th,
.check-out-table table td {
    width: 50%;
    font-size: 16px;
}

.check-out-table table td {
    text-align: right;
    color: #0e79be;
    font-weight: 500;
    font-size: 18px;
}

.check-out-table table th span.float-right {
    color: #0e79be;
    font-size: 15px;
    font-weight: 500;
}

.check-out-table table tr:last-child td {
    font-size: 24px;
}

.check-out-coupon-code {
    margin: 25px 0 0;
}

.check-out-coupon-left input.form-control {
    border: 1px solid #0e79be;
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    max-width: 200px;
    height: 45px;
    border-radius: 5px;
}

.check-out-coupon-left .form-group {
    display: flex;
    flex-wrap: wrap;
}

.check-out-coupon-left .form-group button.btn,
.check-out-coupon-right button.btn {
    background: #1381c8;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 800;
    padding: 8px 35px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    margin-left: 10px;
    height: 45px;
}

.check-out-txt-item {
    margin: 0 0 25px;
}

.check-out-txt-item p,
.check-out-txt-item li {
    margin: 0;
    font-size: 14px;
    color: #424242;
    font-weight: 500;
    line-height: 25px;
}

.faq-item .card .card-header {
    border: 1px solid #087ccf;
    border-radius: 8px;
    background: none;
    padding: 0;
}

.faq-item .card .card-header button.btn {
    padding: .75rem 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #003ca0;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.faq-item .card {
    border: none;
    margin: 0 0 15px;
}

.faq-item .card .card-header button.btn[aria-expanded="true"] {
    background-image: linear-gradient(90deg, #268cd5, #fff);
    border-radius: 7px;
    color: #fff;
}

.faq-item .card .card-header button.btn::after {
    content: "";
    background: #087ccf url(../images/plus-icon.png) no-repeat center center;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: -13px;
    top: 13px;
}

.faq-item .card .card-header button.btn[aria-expanded="true"]::after {
    background: #087ccf url(../images/minus-icon.png) no-repeat center center;
}

.form-input .form-control,
.form-input select.form-control:not([size]):not([multiple]) {
    border: 1px solid #0e79be;
    font-weight: 500;
    border-radius: 5px;
    height: 45px;
    outline: none;
    box-shadow: none;
    color: #000;
    font-size: 15px;
}

.form-input textarea.form-control {
    height: auto;
}

.recruit-now-form .form-group .form-input {
    position: relative;
}

.recruit-now-form .form-group .form-input label {
    color: #0c74be;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    background: #fff;
    position: absolute;
    left: 20px;
    top: -9px;
    padding: 0 10px;
}

.recruit-now-form .form-group {
    margin: 0 0 25px;
}

.recruit-now-form .form-group .form-input .bootstrap-tagsinput {
    display: flex;
    flex-wrap: wrap;
}

.recruit-now-form .form-group .form-input .bootstrap-tagsinput input {
    border: 1px solid #0e79be;
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    height: 45px;
    outline: none;
    box-shadow: none;
    color: #000;
    font-size: 15px;
    width: 100%;
    padding: .375rem .75rem;
    order: 1;
}

.recruit-now-form .form-group .form-input .bootstrap-tagsinput span.tag {
    margin: 15px 10px 0 0;
    order: 2;
    background: #1381c8;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    padding: 8px 20px;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.recruit-now-form .form-group .form-input .bootstrap-tagsinput span.tag>span::before {
    content: "x";
    font-weight: 700;
    font-size: 15px;
}

.recruit-now-form .form-group .form-input .bootstrap-tagsinput span.tag>span {
    margin-left: 12px;
    cursor: pointer;
}

.recruit-now-form {
    padding: 0 0 20px;
    border-bottom: 1px solid #e0e0e0;
}

.recruit-now-form-btn {
    padding: 25px 0 0;
}

.recruit-now-form-btn ul {
    display: flex;
    flex-wrap: wrap;
}

.recruit-now-form-btn ul li {
    margin-right: 15px;
}

.recruit-now-form-btn ul li button.btn {
    background: #1381c8;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 35px;
    min-width: 130px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.recruit-now-form-btn ul li button.btn.discard-btn {
    background-image: linear-gradient(90deg, #ee4141, #fd6f6f);
    box-shadow: 0 0 18px rgba(238, 65, 65, 0.25);
}

.recruit-now-page.page-wt-back {
    max-width: 900px;
    margin: 0 auto;
}

.createAgig-left-menu {
    background: linear-gradient(#30aeff, #0e79be);
    border-radius: 8px;
    padding: 0 0 50px;
}

.createAgig-left-menu li a {
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
}

.createAgig-left-menu li a:hover,
.createAgig-left-menu li.active a {
    background: linear-gradient(90deg, #0e79be, #30aeff);
    border: 1px solid #0e79be;
}

.createAgig-left-menu li:not(:last-child)::before {
    content: "";
    border-left: 1px solid #a9d8fa;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 29px;
    z-index: 1;
}

.createAgig-left-menu li::after {
    content: "";
    background: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

.createAgig-left-menu li {
    position: relative;
}

.create-a-gig-img {
    padding: 20px 0 0;
}

.create-a-gig-img img {
    width: 100%;
}

.note-tg {
    font-size: 13px;
    margin: 10px 0 0;
}

.create-extra-services {
    margin: 20px 0 0;
    width: 100%;
    border: 1px solid #0e79be;
    border-radius: 5px;
    padding: 32px;
}

.add-btn-extra {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}

.add-btn-extra span {
    margin-right: 10px;
}

.add-btn-extra i {
    background: #1381c8;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.create-extra-input {
    margin: 20px 0 0;
}

.create-extra-input-inn .row {
    margin: 0 -5px;
}

.create-extra-input-inn div[class*="col-md-"] {
    padding: 0 5px;
}

.delete-icn i {
    background: #ef4343;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #ef4343, #fc6e6e);
}

.form-input .create-extra-input-inn .form-control {
    border: 1px solid #cacaca;
}

.delete-icn {
    padding: 5px;
}

.dashboard-pro-top,
.dashboard-bal,
.dashboard-prod,
.dashboard-tab-area {
    background: #fff;
    border-radius: 8px;
    margin: 0 0 20px;
}

.dashboard-pro-top .user-name p {
    font-size: 14px;
    margin: 5px 0 0;
}

.dashboard-pro-top .user-name p i {
    color: #44a1e5;
}

.user-dtl-div .user-cont-btn {
    text-align: left;
    margin: 15px 0 0;
}


/* .user-dtl-div .user-cont-btn a.btn i {
    float: none;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: none;
    height: auto;
    width: auto;
    border-radius: 0;
    position: relative;
    top: -2px;
    padding-right: 5px;
} */

.dashboard-box-div {
    padding: 15px 15px 30px;
}

.dashboard-div-item {
    min-height: 100%;
    background: linear-gradient(#59baf8, #1e8ace);
    border-radius: 8px;
    padding: 20px;
    padding-left: 40px;
    color: #fff;
}

.dashboard-box-div .col-md-4:nth-child(1) .dashboard-div-item {
    background: linear-gradient(#59baf8, #1e8ace);
}

.dashboard-box-div .col-md-4:nth-child(2) .dashboard-div-item {
    background: linear-gradient(#0ba1a0, #4bafe1);
}

.dashboard-box-div .col-md-4:nth-child(3) .dashboard-div-item {
    background: linear-gradient(#8e69ff, #a8c0ff);
}

.dashboard-div-item h4 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.dashboard-div-item h2 {
    font-size: 28px;
    font-weight: 900;
}

.dashboard-div-item p {
    font-weight: 500;
    margin: 0;
    font-size: 13px;
}

.dashboard-box-bottom {
    background: #e0e0e0;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.dashboard-box-bottom .dashb-btm-txt {
    font-size: 10px 15px;
    font-weight: 500;
}

.dashboard-box-bottom .dashb-btm-txt span {
    color: #087ccf;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

.dash-prod-head-btn {
    text-align: right;
}

.dash-prod-head-btn ul {
    display: flex;
    justify-content: flex-end;
}

.dash-prod-head-btn ul li {
    margin-left: 10px;
}

.dash-prod-head-btn ul li a {
    background: #1381c8;
    color: #fff;
    font-size: 11px;
    padding: 6px 15px;
    transition: all 0.3s ease-in;
    display: inline-block;
    font-weight: 500;
    border-radius: 20px;
}

.dash-prod-head-btn ul li:last-child a {
    background: #606060;
}

.dashboard-pro-all ul {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-pro-all ul li {
    max-width: 25%;
    flex: 0 0 25%;
}

.dashboard-pro-all .sellers-title a {
    font-size: 11px;
}

.dashboard-pro-all .sellers-btn a {
    font-size: 10px;
}

.dashboard-view-all {
    margin: 30px 0 0;
}

.dashboard-view-all a {
    background: #1381c8;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 35px;
    min-width: 130px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.check-head-div h2 {
    display: inline-block;
}

.check-head-div h2:nth-child(2) {
    margin-left: 10px;
}

.dash-prod-main-div {
    padding: 15px;
    text-align: center;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-prod-main-div p {
    margin: 0;
    color: #424242;
    font-size: 25px;
}

.trust-qut-item h5 {
    color: #0e79be;
    font-size: 18px;
    font-weight: 700;
}

.trust-qut-item h5 span {
    background: #0e79be;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 6px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 5px;
}

.trust-qut-div-txt {
    margin: 0 0 20px;
}

.trust-qut-div-txt h6 {
    color: #0e79be;
    font-size: 18px;
    font-weight: 600;
}

.trust-qut-div-txt ul {
    margin: 0 0 15px;
}

.trust-qut-div-txt {
    font-size: 15px;
    line-height: 28px;
}

.trust-qut-div-txt ul li {
    position: relative;
    padding-left: 20px;
}

.trust-qut-div-txt ul li::before {
    content: "";
    background: #0878c7;
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.rec-btn {
    margin: 30px 0 0;
}

.rec-btn a {
    border-radius: 60px;
    border: aliceblue;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background: #0e79be;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 30px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    transition: all 0.3s ease-in;
}

.rec-left-tag span {
    margin: 15px 10px 0 0;
    order: 2;
    background: #1381c8;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    padding: 8px 20px;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.recently-head {
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.recently-img-head {
    background: #424242;
    padding: 8px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}

.recently-left-txt {
    padding: 30px 15px;
}

.recently-left-txt h2 {
    color: #0e79be;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-left: 55px;
    margin: 0 0 15px;
}

.recently-left-txt h2::before {
    content: "";
    border-top: 2px solid #0e79be;
    width: 45px;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.recently-left-txt p {
    font-size: 14px;
    color: #424242;
    font-weight: 500;
    line-height: 25px;
}

.recently-img img {
    width: 100%;
}

.recently-add-inn {
    margin: 0 0 15px;
}

.review-head .check-head-div h2 small {
    font-weight: 700;
    font-size: 90%;
}

.review-items {
    padding: 15px;
}

.review-item {
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
}

.review-item:last-child {
    border: none;
}

.review-itm-top {
    display: flex;
    flex-wrap: wrap;
}

.review-user-name {
    padding-left: 10px;
}

.review-user-img {
    width: 50px;
}

.review-user-name {
    width: calc(100% - 50px);
}

.review-user-name h3 {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 14px;
}

.review-user-name p {
    margin: 0;
    font-size: 12px;
    color: #525252;
    font-weight: 500;
}

.review-itm-txt {
    padding: 10px 0 0;
}

.review-itm-txt p {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px;
}

.review-star .pro-rating,
.recently-rating span.pro-rating {
    font-size: 13px;
    color: #ffc600;
}

.recently-right-top {
    padding: 10px 15px;
}

.recently-price {
    color: #087ccf;
    font-size: 28px;
    font-weight: 300;
}

.recently-rating {
    padding: 6px 0;
}

.recently-table table.table {
    margin: 0;
    background: #d3ecff;
}

.recently-table table.table td {
    font-size: 15px;
    font-weight: 500;
    border-color: #aeddff;
}

.recently-table table.table td:last-child {
    text-align: right;
}

.recently-table-btmbtn .rec-btn {
    margin: 0;
    text-align: center;
    padding: 25px;
}

.recently-top-right {
    margin: 0 0 15px;
}

.recently-add-right .user-dtl-div .user-cont-btn li:last-child {
    margin: 15px 0 0;
}

.recently-add-right .user-dtl-div .user-cont-btn li:last-child a {
    background: #fff;
    border: 1px solid #0e79be;
    color: #0e79be;
}

.recently-add-right .user-dtl-div .user-cont-btn li:last-child a i {
    background: #0e79be;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    color: #fff;
}

.recently-add-right .user-dtl-div .user-cont-btn li a {
    max-width: 80%;
    width: 100%;
}

.recently-add-right .user-dtl-div .user-cont-btn {
    margin: 25px 0 0;
}

.extra-div {
    margin: 0 0 15px;
}

.extra-div-head {
    padding: 15px;
}

.extra-div-head h2 {
    margin: 0;
    color: #0e79be;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-left: 35px;
}

.extra-div-head h2::before {
    content: "";
    border-top: 2px solid #0e79be;
    width: 25px;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.extra-div-btn .user-cont-btn {
    margin: 0;
    padding: 10px 25px 25px;
}

.extra-div-btn .user-cont-btn a.btn {
    background: #fff;
    border: 1px solid #0e79be;
    color: #0e79be;
}

.extra-div-btn .user-cont-btn a.btn i {
    background: #0e79be;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    color: #fff;
}

.extra-div-main table td {
    font-size: 15px;
    font-weight: 500;
}

.extra-price {
    color: #087ccf;
    font-size: 16px;
}

.extra-div-main table.table {
    margin: 0;
}

.checkout-now-top {
    background: #fff;
    border-radius: 8px;
    margin: 0 0 20px;
}

.checkout-now-head {
    text-align: center;
    color: #424242;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.checkout-now-main {
    text-align: center;
    padding: 40px;
}

.checkout-now-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-now-pay-img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0e79be;
    border-radius: 50%;
    background: #fff;
    position: relative;
    z-index: 1;
}

.checkout-now-pay-name {
    background: #e0f3ff;
    color: #1584cb;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 18px 35px;
    margin-left: -10px;
    border: 1px solid #0e79be;
    border-radius: 0 100px 100px 0;
}

.checkout-now-item:hover .checkout-now-pay-name {
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    color: #fff;
    border: 1px solid transparent;
}

.checkout-now-stripe {
    background: #fff;
    border-radius: 8px;
}

.checkout-stripe-head {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.checkout-stripe-form form {
    max-width: 600px;
    margin: 0 auto;
}

.checkout-page-inn {
    margin: 0 auto;
    max-width: 850px;
}

.checkout-stripe-form {
    padding: 30px;
}

.checkout-stripe-form .input-group .form-control {
    border: 1px solid #0e79be;
    font-weight: 500;
    border-radius: 5px;
    height: 45px;
    outline: none;
    box-shadow: none;
    color: #000;
    font-size: 15px;
}

.checkout-stripe-form .input-group .form-control[type="submit"] {
    background: #1381c8;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 800;
    width: auto;
    border: none;
    padding: 6px 35px;
    transition: all 0.3s ease-in;
    display: inline-block;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.checkout-stripe-form .input-group.card-number-date {
    border: 1px solid #0e79be;
    border-radius: 5px;
}

.checkout-stripe-form .input-group.card-number-date input.form-control {
    border: none;
}

.checkout-stripe-form .input-group.card-number-date input.form-control:nth-child(1) {
    width: 75%;
}

.checkout-stripe-form .input-group.card-number-date input.form-control:nth-child(2) {
    width: 15%;
}

.checkout-stripe-form .input-group.card-number-date input.form-control:nth-child(3) {
    width: 10%;
}

.m-jobs {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 10px;
}

.payment-type1.filter-right.text-right select {
    border: 1px solid #e4e4e4;
    min-width: auto;
    padding-right: 45px;
}

.createAgig-right-main.page-wt-bk.my-invoice {
    padding: 15px;
}

.my-invoice table {
    font-size: 14px;
    color: #000;
    text-align: center;
}

.my-invoice table td {
    font-weight: 500;
    vertical-align: middle;
}

.my-invoice table td .btn {
    font-size: 13px;
    font-weight: 500;
    min-width: 110px;
    padding: 4px 0px;
    border-radius: 50px;
}

.my-invoice table th {
    background: #424242;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.ac,
.ac:hover {
    color: red
}

.user-dtl-div.user-dtl-div22 {
    padding: 10px;
    text-align: right;
}

.user-dtl-div.user-dtl-div22>div {
    margin: 0;
    display: inline-block;
}


/***on off checkobx**/

.subsc .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 25px;
}

.subsc .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.subsc .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.subsc .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.subsc input:checked+.slider {
    background-color: #09b700;
}

.subsc input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.subsc input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.subsc .slider.round {
    border-radius: 34px;
}

.subsc .slider.round:before {
    border-radius: 50%;
}

.withdraw-right-in .recruit-now-form {
    padding: 25px;
    border: none;
}

.withdraw-top-btns {
    padding: 10px 16px;
    border-bottom: 1px solid #e6e6e6;
}

.withdraw-right-in {
    margin: 0 0 30px;
}

.withdraw-right-in .recruit-now-form-btn {
    padding: 0;
}

.withdraw-right-txt {
    margin: 0 0 10px;
    font-weight: 500;
    color: #ff0101;
}

.withdraw-top-btns ul li {
    display: inline-block;
    margin: 0 5px;
}

.withdraw-top-btns ul li a {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    background: #2ba6f5;
    text-align: center;
}

.withdraw-top-btns ul li a:hover {
    background: #606060;
}

.form-input input.btn.save-btn {
    background: #1381c8;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 35px;
    min-width: 130px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.contacts_card .input-group input.form-control.search {
    background: #44a1e5 !important;
    color: #fff !important;
    border-radius: 50px !important;
    border: none;
}

.contacts_card .input-group input.form-control.search::-webkit-input-placeholder {
    /* Edge */
    color: #fff;
}

.contacts_card .input-group input.form-control.search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.contacts_card .input-group input.form-control.search::placeholder {
    color: #fff;
}

.user-main-menu .parent::after {
    content: '';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 20px;
    color: #fff;
}

.contacts_card {
    background: #087ccf;
    border-radius: 8px;
    height: 100%;
}

.msg_head_main {
    background: #fff;
    border-radius: 8px;
    height: 100%;
}

#msg_body {
    height: 550px;
    overflow: auto;
}

.contacts_card .contacts_body ui.contacts {
    height: 500px;
    overflow: auto;
    display: block;
}

.contacts_card .contacts_body>p {
    font-size: 13px;
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    font-weight: 500;
}

.msg_head_main .card-header.msg_head {
    background: #087ccf;
    border-radius: 8px 8px 0 0;
}

.msg_head_main .msg_card_footer {
    background: #fff;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #087ccf;
}

.msg_card_footer textarea.form-control.type_msg {
    background: #f4f4f4;
    border-radius: 60px;
    border: none;
    height: 45px;
    padding: 12px 25px;
    max-height: 45px;
    font-size: 14px;
    font-weight: 500;
}

.msg_head_main .msg_card_footer .input-group-append {
    margin-left: 15px;
}

.msg_head_main .msg_card_footer .input-group-append span.input-group-text {
    height: 45px;
    width: 45px;
    display: flex;
    border-radius: 50% !important;
    background: #f4f4f4;
    align-items: center;
    justify-content: center;
    color: #8097a0;
    cursor: pointer;
}

.msg_head_main .msg_card_footer .input-group-append span.input-group-text.send_btn {
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    color: #fff;
}

.contacts-item-user {
    width: calc(100% - 45px);
    display: flex;
    flex-wrap: wrap;
}

.contacts-time-user {
    width: 45px;
    text-align: center;
}

.contacts-item-user .user_info {
    width: calc(100% - 50px);
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    overflow: hidden;
}

.contacts-item-user .user_info p {
    margin: 0;
}

.contacts-item-user .user_info span {
    font-size: 15px;
}

.user_time {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
}

.user_not span {
    background: #004373;
    height: 20px;
    width: 20px;
    display: flex;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.user_not {
    display: flex;
    justify-content: center;
    margin: 3px 0 0;
}

.contacts li>div {
    cursor: pointer;
}