button.btn {
    cursor: pointer;
}

i.fa.fa-star.active {
    color: yellow;
}

.categories-cont a {
    color: #000;
}

.user-img img {
    border-radius: 50%;
}

.blog-txt a {
    color: #000;
}

a.go_to_dashboard {
    font-size: 12px;
}

.banner-cont-in .banner-secrch .input-group form {
    width: 100%;
    display: flex;
}

.banner-cont-in .banner-secrch .input-group form button.btn {
    background: #087ccf;
    color: #fff;
    border-radius: 0;
}

.category-side-menu ul li.hover {
    background: #e9e9e9;
}

.testimonials-user-img span img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button#add_tag,
button#save_tag {
    background: #1381c8;
    color: #fff;
}

i.del_img.fa.fa-remove {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(231, 76, 60, 0.88);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    width: 18px;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 9px;
    text-align: center;
}

i.del_img.fa.fa-remove::before {
    content: "x";
}

.service-gallery iframe {
    height: 444px;
}

.rec-btn button {
    border-radius: 60px;
    border: aliceblue;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background: #0e79be;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 30px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    transition: all 0.3s ease-in;
}

.coupon-error {
    display: none;
}

.coupon-txt {
    font-weight: bold;
}

.banner-img video {
    width: 100%;
    /* height: 583px; */
    object-fit: cover;
}

.banner-section .banner-slider .owl-nav.disabled {
    display: none;
}

#pay-by-new-card {
    cursor: pointer;
}

fieldset {
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    font-size: 0;
}

#payment-form #co_loader {
    position: absolute;
    right: 215px;
    padding: 15px 10px;
    pointer-events: none;
    z-index: 99;
    color: #fff;
}

#payment-form .pay-button {
    position: relative;
}

.wallet-discount {
    display: none;
}

.resend_link.disabled {
    pointer-events: none;
    cursor: default;
}

.customOrderModal .mjob-name {
    font-family: "Montserrat", sans-serif;
    margin: 0 0 30px 0;
}

.modal-header {
    border-bottom: none;
    background: #10a2ef;
    border-radius: 4px 4px 0 0;
    color: #fff;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

#customOrderModal p.error,
.customOfferModal p.error,
#declinedModal p.error,
#rejectModal p.error,
#contactMeModal p.error {
    color: red;
    display: none;
    font-size: 12px;
}

.contact p.error,
.customOrderModal p.error {
    color: red;
    display: none;
    font-size: 12px;
}

.send-contact-me {
    float: left;
}

#customOrderModal i.del_img.fa.fa-trash,
.customOfferModal i.del_img.fa.fa-trash {
    position: absolute;
    top: 2px;
    font-size: 10px;
    right: 265px;
    background: rgba(231, 76, 60, 0.88);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 9px;
}

.attachment-image ul li {
    display: block;
    margin: 0 20px 20px 0;
    position: relative;
    cursor: pointer;
    background: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: 10px !important;
}

.chat-paginations {
    margin: 10px;
    text-align: center;
    padding: 5px;
}

#msg_body .chat-loader {
    position: absolute;
    top: 200px;
    right: 370px;
}


/* ved (29-06-2020) */

.current-order {
    margin-left: 10px;
}

.custom-order-chat .extra-div-main {
    padding: 15px;
}

.custom-order-box {
    padding: 0 !important;
}

.box-shadow {
    box-shadow: 0 3px 9px rgba(183, 180, 180, 0.58);
    background: #fff;
    border-radius: 3px;
}

.custom-order-box .title-column {
    padding-left: 30px;
}

.current-order .title-column {
    margin-top: 20px;
}

.title-column {
    color: #2a394e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0 0 10px;
    padding-bottom: 8px;
    font-size: 14px;
}

.list-custom-order-wrapper {
    max-height: 550px;
    height: auto;
    right: -7px;
}

.list-order {
    position: relative;
}

.current-order ul {
    padding: 0;
}

.current-order ul li {
    display: block;
    position: relative;
    padding-top: 8px;
}

.custom-order-box li {
    margin: 0 0 15px;
    position: relative;
    border-bottom: 1px solid #dfe0e5;
}

.custom-order-box.custom-order-chat {
    margin: 15px 0 0;
}

.custom-order-box li h2 a.name-customer-order {
    font-size: 13px;
}

.custom-order-box li h2 {
    padding-right: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.custom-order-chat .extra-div-main {
    max-height: 595px;
    overflow: auto;
}

.current-order p {
    margin: 0 0 10px;
}

.current-order ul li h2 {
    font-size: 12px;
    margin-top: 0;
}

.current-order .name-customer-order {
    width: 60%;
    color: #2a7ebf;
}

.current-order .name-customer-order {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 20px;
    font-weight: bold;
}

.name-customer-order {
    cursor: pointer;
}

.current-order .label-status {
    right: -38px;
    z-index: 2;
}

.list-order .label-status,
.current-order .label-status {
    border-radius: 4px!important;
    box-shadow: none;
    right: 0 !important;
}

.current-order ul li .label-status {
    position: absolute;
    right: 0;
    top: 7px;
    width: 94px;
}

.list-order .label-status,
.list-job .label-status {
    padding: 5px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.order-color {
    background: #fda933;
    box-shadow: 1px 3px 9px rgba(253, 169, 51, 0.5);
}

.list-order .label-status,
.list-job .label-status {
    position: absolute;
    right: -34px;
    top: 0;
    width: 94px;
    padding: 5px 0;
    color: #fff;
    font-size: 10px;
    text-align: center;
}

.custom-order-box .outer-etd {
    position: relative;
}

.custom-order-box .deadline {
    padding-top: 5px;
}

.custom-order-box .budget {
    position: absolute;
    right: 0;
    top: 0;
}

p.post-content {
    font-size: 13px;
}

.custom-order-box .budget,
.custom-order-box .deadline {
    color: #aaafb2;
    text-transform: uppercase;
    font-weight: bold;
}

.list-order li:hover a,
.list-job li:hover a {
    color: #10a2ef;
}

.custom-order-box .deadline span {
    text-transform: none;
    color: #2a394e;
    font-weight: 500;
    font-size: 12px;
}

.custom-order-box .budget span,
.custom-order-box .deadline span {
    padding-left: 10px;
}

.user_img_msg {
    object-fit: cover;
}

.msg_card_footer .carousel_single_conversation-image-list li {
    display: inline-block;
    width: 21%;
    margin: 10px 5px 10px 0;
    padding-right: 15px;
    position: relative;
    background: #dbdbdb;
    border-radius: 45px;
    padding: 5px 7px;
    font-size: 12px;
}

.msg_card_footer a.del_img {
    position: absolute;
    top: 4px;
    right: 6px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: #000;
    background: #dbdbdb;
    font-weight: 900;
    font-size: 12px;
    width: 18px;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 9px;
    text-align: center;
}

.conversation-text ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
}

.custom-order-box .more {
    text-align: center;
    margin: 0 30px;
    padding-top: 15px;
    position: relative;
    z-index: 1;
}

.custom-order-box .custom-order-btn {
    margin: 20px 0 10px 0;
}

.custom-order-box .btn-decline,
.custom-order-box .btn-send-offer {
    background: #fff;
    color: #2a7ebf;
    padding: 4px 20px;
    border: 1px solid #10a2ef;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px !important;
}

.custom-order-box .btn-send-offer {
    background: #10a2ef;
    color: #fff;
}

.custom-order-box .btn-decline,
.custom-order-box .btn-send-offer {
    border: 1px solid #10a2ef!important;
    outline: none;
}

.custom-order-box .btn-decline:focus,
.custom-order-box .btn-send-offer:focus {
    border: 1px solid #10a2ef!important;
    outline: none;
}

.custom-order-box .mje-price {
    color: #2a7ebf;
}

.get-offer-color {
    background: #10a2ef;
}

.current-order.custom-order-box.box-shadow {
    max-height: 630px;
    overflow-y: auto;
}

.conversation-text .msg_cotainer a,
.conversation-text .msg_cotainer_send a {
    color: #23527c;
    text-decoration: none;
}


/* ved (29-06-2020) */


/* ved (07-07-2020) */

.custom-offer {
    border: 2px solid #c7edfc;
}

.custom-offer .offer-label {
    color: #10a2ef;
}

.conversation-text .offer-label {
    font-weight: bold;
    padding-bottom: 7px;
}

.name-customer-order {
    cursor: pointer;
}

.conversation-text a {
    color: #2a7ebf;
}

.conversation-text a:hover,
.conversation-text a:focus {
    color: #23527c;
    text-decoration: underline;
}

.conversation-text ul {
    padding: 0;
}

.conversation-text ul li:first-child {
    margin-top: 20px;
}

.conversation-text ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
}

.conversation-text li a {
    color: #10a2ef;
}

.custom-offer .image-item a {
    color: #4188a4 !important;
}

.conversation-text .ellipsis {
    white-space: pre;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    color: #e1e1e1;
}

.conversation-text ul li i {
    padding-right: 10px;
}

.custom-order {
    border: 2px solid #ffe4c7;
}

.custom-order .view-custom-order {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px !important;
    font-weight: 200;
    font-style: italic;
    color: #919191;
    margin-bottom: 15px !important;
}

.custom-order .view-custom-order .link-view-custom-order {
    color: #10a2ef;
    cursor: pointer;
}

.conversation-text .custom-offer .budget,
.conversation-text .custom-offer .deadline {
    display: inline-block;
    margin: 25px 30px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

.conversation-text .budget span {
    font-size: 18px;
    padding-left: 10px;
}

.custom-order .budget span {
    color: #000 !important;
}

.conversation-text .deadline span {
    font-weight: 500;
    text-transform: none;
    padding-left: 10px;
}

.custom-order .budget,
.custom-order .deadline {
    display: block;
    margin: 25px 30px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}


/* ved (07-07-2020) */


/* ved (08-07-2020) */

.block-page {
    position: relative;
    min-height: 700px;
}

.outer-detail-custom-order {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 100%;
    z-index: 5;
    display: none;
}

.overlay-custom-detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.28);
    display: none;
}

.detail-custom-order {
    width: 44%;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    box-shadow: 16px 0 rgba(139, 166, 183, 0.7);
    -webkit-box-shadow: 16px 0 rgba(139, 166, 183, 0.7);
    -moz-box-shadow: 16px 0 rgba(139, 166, 183, 0.7);
    z-index: 9999;
    margin-top: 0;
}

.close-detail {
    position: absolute;
    right: 30px;
    top: 30px;
    color: rgba(137, 138, 144, 0.5);
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

.action-form {
    padding: 30px 50px 30px 30px;
    height: 100%;
}

.content-custom-order h2 {
    font-size: 14px;
    margin-top: 30px;
    font-weight: bold;
    line-height: 25px;
}

.content-custom-order h2 a {
    color: #2a394e;
}

.content-custom-order .date {
    color: #aaafb3;
}

.content-custom-order .date span {
    color: #10a2ef;
}

.content-custom-order .block-text {
    border-top: 1px solid #dfe0e5;
    padding-top: 20px;
    position: relative;
}

.content-custom-order .block-text .title {
    text-transform: uppercase;
    color: #aaafb2;
    font-family: 'Montserrat', sans-serif;
}

.content-custom-order .block-text .budget,
.content-custom-order .block-text .deadline {
    display: inline-block;
    margin-right: 30px;
    color: #aaafb2;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.detail-custom-order .budget {
    position: relative;
}

.content-custom-order .block-text .budget span,
.content-custom-order .block-text .deadline span {
    padding-left: 10px;
}

.content-custom-order .block-text .budget span {
    color: #10a2ef;
    font-size: 24px;
}

.content-custom-order .block-text .budget,
.content-custom-order .block-text .deadline {
    display: inline-block;
    margin-right: 30px;
    color: #aaafb2;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.content-custom-order .block-text .deadline span {
    text-transform: none;
    color: #2a394e;
    font-weight: 500;
}

.content-custom-order .block-text .list-attach {
    padding-left: 0;
    margin-top: 10px;
}

.content-custom-order .block-text .list-attach li {
    display: inline-block;
    margin: 0 20px 10px 0;
    border: none;
}

.custom-order-box .list-attach li {
    padding: 10px 10px 0 0;
    margin: 0;
    display: block;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.custom-order-box li:last-child {
    border-bottom: none !important;
    margin: 0;
}

.content-custom-order .block-text .list-attach li a {
    color: #10a2ef;
}

.content-custom-order .block-text .padding-top10 {
    padding-top: 15px;
}

.custom-order-status {
    font-size: 13px;
    font-weight: 600;
}

.custom-order-status.checkout i {
    color: #72be2e;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.custom-order-status i {
    margin-right: 5px;
}

.content-custom-order {
    font-size: 14px;
}

.content-custom-order .block-text .action {
    margin-top: 25px;
}

.btn-reject {
    background: #fff;
    color: #10a2ef;
    padding: 4px 20px;
    border: 1px solid #10a2ef;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    border-color: #2a7ebf;
    cursor: pointer;
}

.btn-accept-offer,
.btn-decline,
.btn-send-offer,
.btn-reject {
    border-radius: 4px !important;
}

.custom-order-box .btn-send-offer,
.custom-order-box .btn-accept-offer {
    background: #10a2ef;
    color: #fff;
    padding: 5px 20px;
    margin-left: 5px;
}

.custom-order-box .btn-decline,
.custom-order-box .btn-send-offer,
.custom-order-box .btn-accept-offer {
    display: inline-block;
    border-radius: 45px;
    text-align: center;
    font-size: 10px;
    border: none;
    outline: 0;
}

.custom-order-status.decline,
.custom-order-status.reject {
    font-style: italic;
}

.custom-order-status {
    font-size: 13px;
    font-weight: 600;
}

.custom-order-status.decline i,
.custom-order-status.reject i {
    color: #ff2222;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.mje-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.alljob-requests-table table td a {
    color: #424242;
}

a.mark-as-read,
a.mark-as-read:focus {
    color: #fff;
}

.notification-list .alert.alert-danger {
    margin: 0;
}

.bootbox-confirm .modal-dialog {
    max-width: 500px;
}

.bootbox-confirm .modal-dialog .modal-footer button.btn {
    background: #0e79be;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    border-radius: 60px;
    border: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 25px;
    transition: all 0.3s ease-in;
    text-align: center;
    box-shadow: none !important;
}

.bootbox-confirm .modal-dialog .modal-footer button.btn.btn-danger {
    background: #606060;
}

.my-message-list ul.list-message p {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.attachment-file-name ul li {
    margin: 0 20px 20px 0;
}

.time-delivery-custom span.title-sub {
    color: #0e79be;
    font-size: 15px;
    font-weight: 500;
}

li.read-chat-notification {
    background: #fff;
}

.notification-list h2 {
    font-weight: normal;
}

.chat-list h2 {
    font-weight: 600;
}

.mark-as-delivered,
.finished {
    float: right;
}


/* ved (08-07-2020) */


/* gourav (26-06-2020) */

.user-img span {
    background: #f4f4f4;
}

.user-img span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span.pro-rating {
    font-size: 14px;
}

.rec-txt a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}

.review-user-img span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.review-user-img span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.invoice-list-table {
    overflow: auto;
}

.my-invoice table td {
    font-size: 14px;
    min-width: 140px;
}

.invoice-detail-item h5 small {
    color: #999;
    font-size: 14px;
    font-weight: 500;
}

.invoice-detail-item {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.invoice-detail-item:first-child {
    padding-top: 0;
}

.invoice-detail-item:last-child {
    padding-bottom: 0;
    border: none;
}

.recently-left-txt .invoice-detail-item p {
    margin: 0;
    font-size: 14px;
    color: #424242;
}

.recently-left-txt .invoice-detail-item p span {
    padding-left: 10px;
    color: #087ccf;
    font-weight: 600;
}

.invoice-detail-item h1 {
    font-size: 30px;
    color: #087ccf;
    font-weight: 600;
}

.recently-left-txt .invoice-detail-item h3 {
    font-size: 18px;
    color: #424242;
}

.invoice-detail-item span.btn.btn-success {
    border-radius: 20px;
    padding: 5px 30px;
}

.invoice-detail-table .table th {
    color: #999;
    font-size: 15px;
    font-weight: 500;
}

.invoice-detail-table .table td {
    text-align: right;
    font-size: 22px;
    font-weight: 500;
    color: #087ccf;
}

.dashboard-box-div div.gra-div {
    width: 100%;
    height: auto !important;
    overflow: auto;
}


/* .dashboard-box-div div.gra-div div {
    width: 100% !important;
}
.dashboard-box-div div.gra-div div svg {
    width: 100%;
} */

.wallet-wrapper .form-group {
    margin: 0;
}

.check-out-main .wallet-wrapper {
    margin: 20px 0 0;
}

.choose-your-payment.aside-card {
    border-radius: 0;
}

.choose-your-payment.aside-card .cart-head {
    margin: 0 0 10px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: #424242;
    font-weight: 700;
}

.currently-div.payment ul li {
    display: inline-block;
    margin-right: 5px;
}

.currently-div.payment ul li label {
    margin: 0;
    cursor: pointer;
    padding-right: 60px;
}

.currently-div.payment ul li label span {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
}

.currently-div.payment ul li label span img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0e79be;
    border-radius: 50%;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 5px;
    object-fit: contain;
}

.currently-div.payment ul li label input[value="stripe"]+span::after {
    content: "Stripe";
}

.currently-div.payment ul li label input[value="paypal"]+span::after {
    content: "Paypal";
}

.currently-div.payment ul li label input[type="radio"]+span::after {
    position: absolute;
    left: 100%;
    background: #e0f3ff;
    color: #1584cb;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    margin-left: -5px;
    border: 1px solid #0e79be;
    border-radius: 0 100px 100px 0;
    top: 50%;
    transform: translate(0, -50%);
}

.currently-div.payment ul li label input[type="radio"] {
    display: none;
}

.currently-div.payment ul li label input[type="radio"]:checked+span::after {
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    color: #fff;
}

.check-out-coupon-left .coupon-error.alert.alert-danger {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: red;
    font-weight: 500;
    font-size: 15px;
}

.after-coupon-applied p.coupon-txt span.discount_amt {
    color: #0e79be;
    font-size: 22px;
}

.thank-you-page {
    max-width: 700px;
    margin: 0 auto;
    padding: 45px;
}

.thank-you .order-success {
    text-align: center;
    margin: 0 0 40px;
}

.thank-you .order-success .success-right {
    color: #0d8f25;
    font-size: 60px;
}

.thank-you .order-success h2 span.thank-mess {
    display: block;
    margin: 0 0 25px;
    color: #0d8f25;
    font-size: 40px;
    font-weight: 700;
}

.thank-you .order-success h2,
.thank-you .order-success h6 {
    font-size: 16px;
    color: #424242;
}

.thank-you .order-success h2 span,
.thank-you .order-success h6 span {
    color: #0e79be;
    font-weight: 600;
}

.continue-shop {
    text-align: center;
    padding: 30px 0 0;
    border-top: 1px solid #ddd;
}

.continue-shop a {
    color: #0e79be;
    font-size: 15px;
    font-weight: 600;
}

.continue-shop a i {
    padding-right: 5px;
}

.recruit-now-form .form-group .form-input button.btn.dropdown-toggle {
    height: 100%;
    background: none;
    padding: .5rem .75rem;
}

.recruit-now-form .form-group .form-input label {
    z-index: 3;
}

.modal-open .modal .modal-body input.form-control {
    border: 1px solid #0e79be;
    font-weight: 500;
    border-radius: 5px;
    height: 45px;
    outline: none;
    box-shadow: none;
    color: #000;
    font-size: 15px;
}

.modal-header button {
    outline: none;
    color: #fff !important;
    opacity: 1;
    cursor: pointer;
}

.modal-open .modal .modal-body span.alert-danger {
    background: none;
}

.create-extra-input-inn .row {
    margin-bottom: 5px;
}

.recruit-now-form .form-group .create-a-gig-img li {
    padding: 5px;
}

.recruit-now-form .form-group .create-a-gig-img li label {
    position: relative;
    max-width: 110px;
    top: 0;
    left: 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.recruit-now-form .form-group .create-a-gig-img ul#image_preview {
    margin: 0;
}

.recruit-now-form .form-group.gallery_images_group {
    margin: 0 0 5px;
}

.recruit-now-form .form-group .create-a-gig-img li label .featured_image input[type="radio"] {
    /* display: none; */
    position: absolute;
    top: 5px;
    left: 5px;
}

.pagination-div ul.pagination li.page-item span {
    width: auto;
    height: auto;
    display: flex;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 0;
}

.pagination-div ul.pagination li.page-item.active span {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.recruit-now-form .form-group .create-a-gig-img li label .featured_image input[type="radio"]+span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.recruit-now-form .form-group .create-a-gig-img li label .featured_image input[type="radio"]:checked+span {
    border: 1px solid #0e79be;
}

.recruit-now-form .form-group .create-a-gig-img li label i.fa.fa-spinner.fa-spin {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    color: #fff;
}

.job-detail-submit-btns button#form_button {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.job-detail-submit-btns .plus-circle {
    display: inline-block;
    vertical-align: top;
}

.job-detail-submit-btns button#form_button,
.job-detail-submit-btns .plus-circle a {
    background: #1381c8;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    padding: 8px 20px;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.job-detail-submit-btns .plus-circle a i {
    padding-right: 5px;
    font-size: 12px;
}

.usr_form_inn {
    margin: 25px 0 0;
}

.usr_form_inn .createAgig-right-main h1 {
    margin: 0 0 20px;
}

.payment-method-main .withdraw-top-btns {
    padding: 0;
    border: none;
}

.payment-method-main .withdraw-top-btns ul li a {
    background: #606060;
}

.payment-method-main .withdraw-top-btns ul li a.active {
    background: #2ba6f5;
}

.withdraw-top-btns ul li a {
    box-shadow: none !important;
}

.withdraw-user-btns ul li {
    display: inline-block;
    margin: 0 5px;
}

.withdraw-user-btns ul li label {
    cursor: pointer;
}

.withdraw-user-btns ul li label input[type="radio"] {
    display: none;
}

.withdraw-user-btns ul li label input[type="radio"]:checked+span {
    background: #2ba6f5;
}

.withdraw-user-btns ul li label span {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    background: #606060;
    text-align: center;
}

div.stars-ur label.star-ur,
div.stars label.star {
    margin: 0;
    line-height: normal;
    padding: 0;
    float: none;
    display: inline-block;
}

form .form-group .form-control {
    border: 1px solid #0e79be;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    color: #000;
    font-size: 15px;
}

.review-itm-btn {
    margin: 15px 0 0;
}

.review-itm-btn li {
    display: inline-block;
}

.review-itm-btn li a.btn {
    background: #1381c8;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 700;
    padding: 6px 15px;
    border: none;
    height: 32px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.review-itm-btn li a.btn i {
    padding-left: 5px;
}

.review-itm-btn li a.btn:hover {
    background-image: linear-gradient(90deg, #30aeff, #0e79be);
}

.review-user-name p a {
    color: #0e79be;
}

.customOrderModal .attachment-image input#images,
.customOrderModal .attachment-image input.select_files,
.customOfferModal .attachment-image input#offer_images {
    height: 37px;
    width: 100%;
    position: absolute;
    padding: 4px;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.customOrderModal .attachment-image span#custom-order_browse_button a.add-img,
.customOrderModal .attachment-image span.img-gallery a.add-img,
.customOfferModal .attachment-image span#custom-order_browse_button a.add-img {
    background: #1381c8;
    color: #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    display: inline-block;
}

.customOrderModal .attachment-image span#custom-order_browse_button,
.customOfferModal .attachment-image span#custom-order_browse_button {
    margin: 0 0 10px;
    display: block;
}

.customOrderModal .attachment-image span#custom-order_container,
.customOfferModal .attachment-image span#custom-order_container,
.customOfferModal .attachment-image span.custom-order_container {
    position: relative;
    display: inline-block;
}

.customOrderModal .attachment-image ul#image-list li a,
.customOfferModal .attachment-image ul#offer-image-list li a,
.customOrderModal .attachment-image ul.custom-order-image-list li a {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.account_info_div {
    position: relative;
    margin: 0 0 20px;
}

.account_info_div label {
    color: #0c74be;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    padding: 0;
}

.account_info_div label strong {
    font-weight: normal;
}

.account_info_div p {
    border-bottom: 1px solid #0e79be;
    font-weight: 500;
    outline: none;
    box-shadow: none;
    color: #000;
    font-size: 15px;
    margin: 0;
    padding: 10px 0;
}

div#bank_add_update_link a,
div#paypal_add_update_link a,
.modal-footer button.btn.save-btn {
    background: #1381c8;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 35px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.modal-content div#content {
    padding: 20px;
}

.modal-content div#content .account_info_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 10px;
}

.modal-content div#content .account_info_div p {
    padding: 0;
    border: none;
}

.modal-content div#content .account_info_div label {
    min-width: 160px;
}

.modal-open .modal .modal-body .sign-form-area .sign-form input.form-control {
    border: none;
    background: none !important;
    border-radius: 0;
    height: auto;
}

.modal-open .modal .modal-header .sign-head {
    margin: 0;
}

.modal-open .modal .modal-header .sign-head h2 {
    color: #fff;
}

.modal-open .modal .modal-header .sign-head p {
    color: #eee;
}

.my-invoice .rec-left-btn .btn {
    padding: 4px 10px;
    margin: 2px;
    min-width: 55%;
    font-size: 11px;
}

.my-invoice .rec-left-btn .rec-btn span.btn.btn-success {
    background: #32CD32;
    border-color: #32CD32;
}

.my-invoice .rec-left-btn .rec-btn span.btn.rating_given {
    background: #A9A9A9;
    border-color: #30aeff;
    color: #fff;
}

.rec-left-btn .rec-btn {
    margin: 0;
}

.chat-paginations button#ae_message-inview {
    background: #1381c8;
    color: #fff;
    font-size: 10px;
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    font-weight: 500;
    padding: 6px 10px;
    transition: all 0.3s ease-in;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
}

.notification-list li .not-list-img span {
    font-size: inherit;
}

.notification-list li .not-list-img span img.rounded-circle {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.notification-list li .not-list-cont {
    width: calc(100% - 30px);
}

.dropdown-middle-bar .notification-list.chat-list li .not-list-cont h2 {
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-notification .dropdown-menu .dropdown-inner {
    box-shadow: 0 0 3px #333;
}

.not-list-cont p {
    font-size: 10px;
}

.msg_cotainer,
.msg_cotainer_send {
    max-width: calc(100% - 50px);
    min-width: 100px;
}

.img_cont_msg a {
    display: inline-block;
}

.msg_head_main .msg_card_footer .input-group-append span.input-group-text {
    position: relative;
    overflow: hidden;
}

.msg_head_main .msg_card_footer .input-group-append span.input-group-text input#images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.list-inner {
    display: flex;
    flex-wrap: wrap;
}

.img-avatar {
    width: 100px;
    padding: 0 10px;
}

.message-item-cont {
    width: calc(100% - 120px);
    padding: 0 10px;
}

.img-avatar a {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #087ccf;
}

.img-avatar a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.message-item-user {
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    margin: 0 0 5px;
    color: #525252;
}

.txt-item-user {
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #525252;
}

.user-item-date {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

.message-item-cont a {
    display: block;
}

.list-message li.message-item .list-inner {
    padding: 15px 10px;
}

.list-message li.message-item:not(:last-child) {
    border-bottom: 1px solid #dfe0e5;
}

.my-message-list {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.list-message li.message-item {
    transition: all 0.3s ease-in;
}

.list-message li.message-item:hover {
    background: rgba(14, 121, 190, 0.10);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.20);
}

.msg_head_main .msg_card_footer {
    position: relative;
}

.my-message-list .list-message li.unread-list {
    background: rgba(14, 121, 190, 0.10);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.20);
}


/* chat-list */

.modal-header {
    position: relative;
    text-align: center;
    display: block;
}

.modal-header .modal-title {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 22px;
}

.modal-header .close {
    position: absolute;
    top: calc(100% - 55px);
    right: 10px;
    margin: 0;
    font-size: 20px;
    border-radius: 50%;
    opacity: 1;
    padding: 5px;
    height: 30px;
    width: 30px;
    background: linear-gradient(90deg, #ef4444, #fc6e6e);
}

.modal-body.form-custom-order button.send-custom-order.waves-effect {
    border-radius: 60px;
    border: aliceblue;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    background: #0e79be;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 40px;
    background-image: linear-gradient(90deg, #0e79be, #30aeff);
    box-shadow: 0 0 18px rgba(14, 121, 190, 0.25);
    transition: all 0.3s ease-in;
}

.modal .modal-dialog {
    max-width: 700px;
}

.page-title .page-title-head a {
    color: #fff;
}

.page-title .page-title-head small {
    font-weight: 800;
}

.createAgig-right-table table {
    width: max-content;
    min-width: 100%;
}

.createAgig-right-table {
    overflow: auto;
}

.category-main-pro .alert-danger {
    max-width: 100%;
}

.footer-email-form p.newsletter-danger {
    color: red;
}

.footer-email-form p.newsletter-success {
    color: #32CD32;
}