.menuToggle-button {
    display: none;
}
@media screen and (max-width: 991px) {
    .menuToggle-button {
        display: block;
    }
    .nav-container {
        -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        height: 100%;
        width: 250px;
        overflow: auto;
        background: #087ccf;
    }
    .nav-container.is-visible {
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
/*****custum********/
.main-header .navbar-expand .navbar-nav li.nav-item {
    position: relative;
    padding: 0 18px;
    color: #2a2a2a;
}
.main-header .navbar-expand .navbar-nav li.nav-item:first-child {
    padding-left: 0;
}
.main-header .navbar-expand .navbar-nav li.nav-item:last-child {
    padding-right: 0;
}
.main-header .navbar-expand .navbar-nav li.nav-item .nav-link {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in;
}
.main-header .nav li.nav-item:not(:last-child)::after {
    content: "/";
    position: absolute;
    font-weight: 600;
    right: -4px;
    top: 15px;
}
.header-main-menu nav.navbar {
    padding: 0 0;
}
.main-header .navbar-expand .navbar-nav li.nav-item ul.submenu {
    display: none;
    position: absolute;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #424242;
    font-weight: 500;
    min-width: 200px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #4a4a4a , #737373);
    top: 52px;
    z-index: 9;
    left: 0;
}
.main-header .navbar-expand .navbar-nav li.nav-item ul.submenu li a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in;
}
.main-header .navbar-expand .navbar-nav li.nav-item ul.submenu li {
    display: block;
    border-bottom: 1px solid #fff;
}
.main-header .navbar-expand .navbar-nav li.nav-item ul.submenu li:last-child {
    border: none;
}
.main-header .navbar-expand .navbar-nav li.nav-item.hover ul.submenu {
    display: block;
}
.main-header .navbar-expand .navbar-nav li.nav-item ul.submenu::before {
    content: "";
    border-bottom: 10px solid #676767;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 5px;
}
