div.owl-dots {
    display: none;
}
.head-user-drop span.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button.nav-toggle {
    display: none;
}
.page-title {
    background-size: 100% 100%;
}
.sign-form .form-group .custom-checkbox .custom-control-label {
    display: inline-block;
}
.sign-map iframe {
    width: 100%;
    margin: 0;
    display: block;
}
.sign-map {
    width: 100%;
}
.dashboard-div-item h4 {
    position: relative;
}
.dashboard-div-item h4::before {
    content: "";
    border-top: 2px solid rgba(255,255,255,0.7);
    position: absolute;
    min-width: 20px;
    left: -30px;
    top: 48%;
}
.head-user-drop span.user-img {
    background: #eee;
}



@media only screen and (min-width:1200px) {
}
@media only screen and (max-width:1920px) {
}
@media only screen and (min-width : 900px) and (max-width : 1290px) and (orientation : portrait) {
}
@media only screen and (min-width : 900px) and (max-width : 1920px) and (orientation : landscape) {
}
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1200px) {
}
@media only screen and (max-width:1199px) {
    .dash-prod-main-div {
        display: block;
    }
    .dash-prod-main-table, .alljob-requests-table {
        overflow: auto;
    }
    .dash-prod-main-div .table, .alljob-requests-table .table {
        min-width: 500px;
        width: 100%;
    }
    .dash-prod-main-div .table td, .alljob-requests-table .table td {
        font-size: 13px;
    }
    .dash-prod-main-div .table th, .alljob-requests-table .table th {
        font-size: 14px;
    }
    .category-side-menu li a {
        font-size: 13px;
    }
    .category-side-head h3 {
        font-size: 14px;
    }
    .top-section-head h2 {
        font-size: 25px;
    }
    .main-header .navbar-expand .navbar-nav li.nav-item .nav-link {
        font-size: 12px;
        padding: 13px 0;
    }
    .main-header .navbar-expand .navbar-nav li.nav-item {
        padding: 0 13px;
    }
    .main-header .nav li.nav-item:not(:last-child)::after {
        top: 11px;
    }
    .header-main-right .hd-label a, .header-sign-btn li a {
        font-size: 12px;
    }
    .banner-cont-in h2 {
        font-size: 40px;
    }
    .banner-cont-in p {
        font-size: 18px;
    }
    .recently-added-cont .sellers-title a {
        font-size: 14px;
    }
    .features-gigstoc-item {
        padding: 20px;
    }
    .features-gi-cont h2 {
        font-size: 17px;
    }
    .features-gi-cont p {
        font-size: 13px;
    }
    .sellers-title a {
        font-size: 10px;
    }
    .sellers-cont table td {
        font-size: 11px;
    }
    .sellers-btn a {
        font-size: 10px;
    }
    .section-head h2, .get-join-area h2 {
        font-size: 24px;
    }
    .freelancer-text h2 {
        font-size: 18px;
    }
    .freelancer-text p {
        font-size: 14px;
    }
    .testimonials-user h2 {
        font-size: 16px;
    }
    .testimonials-cont p {
        font-size: 14px;
    }
    .footer-menu p, .footer-email-form h2 {
        font-size: 14px;
    }
    .envl-icon img {
        max-width: 40px;
    }
    a.go_to_dashboard, .join-btn a {
        font-size: 10px;
    }
    .projects-table-btns li a span {
        padding: 6px 20px 5px 0;
    }
    .features-icn-in {
        width: 100px;
        height: 100px;
    }
    .features-icn-in::after {
        bottom: 0;
        right: 0;
    }
    .categories-item .categories-title {
        font-size: 12px;
    }
    .user-name {
        font-size: 14px;
    }
    .head-user-drop ul.dropdown-link li a {
        font-size: 12px;
    }
    .page-title .page-title-head {
        font-size: 24px;
    }
    .page-breadcrumb-head .breadcrumb li {
        font-size: 12px;
    }
    .sign-area-inn {
        padding: 30px;
    }
    .sign-head h2 {
        font-size: 25px;
    }
    .custom-forgot a, .custom-checkbox .custom-control-label {
        font-size: 13px;
    }
    .custom-checkbox .custom-control-label {
        padding-left: 30px;
    }
    .sign-in-or .sign-with p {
        font-size: 13px;
    }
    .sign-in-or .sign-with ul a {
        height: 35px;
        width: 35px;
        font-size: 13px;
    }
    .sign-form button.btn {
        font-size: 13px;
    }
    .createAgig-left-menu li a {
        padding: 10px 40px;
    }
    .createAgig-left-menu li::after {
        left: 15px;
    }
    .createAgig-left-menu li:not(:last-child)::before {
        left: 19px;
    }
    .dashboard-div-item {
        padding-left: 30px;
    }
    .dashboard-div-item h4 {
        font-size: 13px;
    }
    .dashboard-div-item h4::before {
        min-width: 15px;
        left: -20px;
    }
    .dashboard-div-item h2 {
        font-size: 22px;
    }
    .dashboard-div-item p {
        font-size: 12px;
    }
    .check-head-div, .dashboard-box-bottom {
        padding: 12px 15px;
    }
    .check-head-div h2 {
        font-size: 15px;
    }
    .dashboard-box-bottom .dashb-btm-txt {
        font-size: 14px;
    }
    .dashboard-box-bottom .dashb-btm-txt span {
        font-size: 15px;
    }
    .dashboard-view-all a {
        font-size: 12px;
    }
    .dash-prod-main-div p {
        font-size: 18px;
    }
    .recently-add-right .user-dtl-div .user-cont-btn li a {
        max-width: 100%;
    }
    .alljob-requests-inn .recently-table .table, .alljob-requests-inn .extra-div-main .table {
        min-width: 100%;
    }
    .rec-btn button {
        font-size: 15px;
    }
    .user-img span {
        width: 50px;
        height: 50px;
    }
    .user-img {
        width: 50px;
    }
    .user-name {
        width: calc(100% - 50px);
    }
    .recently-price {
        font-size: 22px;
    }
}
@media screen and (max-width: 991px) {
    .top-section-head {
        padding: 14px 25px;
        height: auto;
        text-align: center;
    }
    .page-breadcrumb-head .breadcrumb {
        padding: 0;
    }
    .review-totle {
        margin: 0 0 15px;
    }
    .top-section-head h2 {
        font-size: 18px;
    }
    .post-aJob-right {
        justify-content: center;
        padding: 14px 25px;
    }
    .post-aJob a.btn {
        min-width: auto;
        font-size: 11px;
    }
    .post-aJob a i {
        height: 25px;
        width: 25px;
    }
    .category-main-items {
        margin: 20px 0 0;
    }
    .filter-left h3 {
        font-size: 15px;
    }
    .filter-left {
        margin: 0 0 10px;
    }
    .filter-right {
        font-size: 13px;
        text-align: left !important;
    }
    .filter-right select {
        padding: 6px 15px;
    }
    .filter-right label {
        margin: 0 0 5px;
    }
    .section-head h2, .get-join-area h2 {
        font-size: 20px;
    }
    .categories-cont ul li {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
    }
    .recently-added-cont .col-md-3 {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .features-gigstoc-item {
        padding: 15px;
    }
    .features-gi-iocn {
        margin: -60px 0 20px;
    }
    .features-icn-in, .effective-work-items .features-icn-in {
        width: 80px;
        height: 80px;
    }
    .features-gi-iocn span img {
        max-width: 60%;
        height: auto;
    }
    .projects-table .table td,
    .view-detail-btn a {
        font-size: 11px;
    }
    .footer-menu p, .footer-email-form h2 {
        font-size: 11px;
    }
    .footer-menu li a, .footer-email-form p {
        font-size: 11px;
    }
    .copy-text {
        font-size: 12px;
    }
    .footer-email-form .input-group input {
        padding: 5px 15px;
        font-size: 15px;
    }
    .banner-cont-in h2 {
        font-size: 30px;
    }
    .banner-cont-in p {
        font-size: 14px;
    }
    .banner-cont-in .banner-secrch .input-group input,
    .banner-cont-in .banner-secrch .input-group form button.btn {
        font-size: 13px;
    }
    .banner-secrch {
        max-width: 85%;
        margin: 50px auto 0;
    }
    .banner-section .banner-slider .owl-nav button {
        height: 40px;
        width: 40px;
        font-size: 40px;
    }
    .header-main-menu {
        border: none;
    }
    button.nav-toggle {
        display: inline-block;
    }
    .nav-toggle .icon-menu {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 20px;
        vertical-align: middle;
        fill: none;
    }
    .nav-toggle {
        line-height: 1;
        display: inline-block;
        padding: 12px;
        border: 0;
        background: none;
        cursor: pointer;
        outline: none !important;
        box-shadow: none !important;
    }
    .icon-menu .line {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
        background-color: #fff;
    }
    .icon-menu .line-1 {
        top: 0;
    }
    .icon-menu .line-2 {
        top: 50%;
        margin-top: -2px;
    }
    .icon-menu .line-3 {
        bottom: 0;
    }
    .main-head {
        padding: 10px 0;
    }
    .main-header {
        padding: 0;
    }
    .header-main-menu ul.nav.links.navbar-nav {
        display: block;
        text-align: left;
        width: 100%;
        top: 0;
        height: 100%;
    }
    .main-header .nav li.nav-item:not(:last-child)::after {
        display: none;
    }
    .main-header .navbar-expand .navbar-nav li.nav-item {
        padding: 0;
    }
    .main-header .navbar-expand .navbar-nav li.nav-item .nav-link {
        padding: 13px 15px;
        color: #fff;
    }
    .nav-open button.nav-toggle::before {
        content: "";
        background: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    .sign-area-inn>.row > div[class*="col-"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sign-image img {
        max-width: 200px;
    }
    .sign-area-inn>.row > .col-md-5 {
        order: 2;
    }
    .sign-area-inn>.row > .col-md-7 {
        order: 1;
    }
    .sign-head h2 {
        font-size: 22px;
    }
    .page-title .page-title-head {
        font-size: 18px;
        padding-left: 20px;
    }
    .page-breadcrumb-head .breadcrumb {
        padding: 0;
    }
    .how-it-works-head h2 {
        font-size: 22px;
    }
    .how-it-works-head p {
        font-size: 16px;
    }
    .page-wt-back {
        padding: 35px 35px 120px;
    }
    .trust-qut-item h4 {
        font-size: 15px;
    }
    .trust-qut-item p, .trust-qut-div-txt ul li, .trust-qut-div-txt {
        font-size: 13px;
        line-height: 25px;
        text-align: left;
    }
    .trust-qut-item p, .trust-qut-div-txt {
        text-align: justify;
    }
    .trust-qut-item h5, .trust-qut-div-txt h6 {
        font-size: 15px;
    }
    .trust-qut-item h5 span {
        width: 20px;
        height: 20px;
        padding: 3px;
        font-size: 14px;
    }
    .faq-item .card .card-body {
        font-size: 13px;
        line-height: 22px;
    }
    .faq-item .card .card-header button.btn {
        font-size: 14px;
    }
    .faq-item .card .card-header button.btn::after {
        top: 9px;
    }
    .createAgig-area>.container>.row>div[class*="col-md-"],
    .alljob-requests-area>.container .row>div[class*="col-md-"],
    .withdraw-balance-area>.container>.row>div[class*="col-md-"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .profile-page-head h1 {
        font-size: 20px;
    }
    .profile-page-head h1::before {
        top: 7px;
    }
    /* #side_link.createAgig-left-menu>ul {
        display: flex;
        overflow: auto;
    } */
    .createAgig-left-menu {
        padding: 0;
        margin: 0 0 10px;
    }
    .createAgig-left-menu li::after,
    .createAgig-left-menu li::before {
        content: none !important;
    }
    /* .createAgig-left-menu li {
        text-align: center;
    } */
    .createAgig-left-menu li a {
        padding: 8px 15px;
        font-size: 12px;
        min-width: 150px;
    }
    .user-cont-btn a.btn {
        font-size: 11px;
    }
    .pagination-div ul.pagination li.page-item {
        margin: 0 5px;
    }
    .pagination-div ul.pagination li.page-item a,
    .pagination-div ul.pagination li.page-item.active span {
        height: 30px;
        width: 30px;
        font-size: 13px;
    }
    .pagination-div ul.pagination li.page-item:first-child a,
    .pagination-div ul.pagination li.page-item:last-child a,
    .pagination-div ul.pagination li.page-item span,
    .page-item.disabled .page-link, .page-item.active .page-link {
        padding: 7px;
        font-size: 12px;
    }
    .recently-add-right .user-dtl-div .user-cont-btn li {
        display: inline-block;
    }
    .top-section-head:after {
        display: none;
    }
    .detail-custom-order {
        min-width: 80%;
    }
    .custom-order-box.custom-order-chat {
        margin: 15px 0 0;
    }

}
@media only screen and (max-width:768px) {
}
@media only screen and (max-width:767px) {
    
    .img-avatar {
        width: 90px;
        padding: 0 5px;
    }
    .message-item-cont {
        width: calc(100% - 90px);
        padding: 0 5px;
    }
    .img-avatar a {
        width: 80px;
        height: 80px;
    }
    .message-item-user {
        font-size: 13px;
    }
    .txt-item-user {
        font-size: 11px;
    }
    .user-item-date {
        font-size: 10px;
    }
    .dash-prod-head-btn {
        margin: 10px 0 0;
        text-align: center;
    }
    .dash-prod-head-btn ul {
        justify-content: center;
    }
    .main-logo {
        text-align: center;
        margin: 0 0 10px;
    }
    .header-main-right {
        justify-content: center !important;
    }
    .freelancer-cont .col-md-8 {
        order: 2;
    }
    .freelancer-cont .col-md-4 {
        order: 1;
    }
    .freelancer-img {
        margin: 0 0 20px;
    }
    .freelancer-text {
        text-align: center;
    }
    .categories-cont ul li {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .recently-added-cont .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .copy-text {
        text-align: center;
        margin: 0 0 10px;
    }
    .footer-scl ul.nav.justify-content-end {
        justify-content: center !important;
    }
    .banner-cont-in h2 {
        font-size: 20px;
        margin: 0 0 10px;
        padding: 0 0 10px;
    }
    .banner-cont-in p {
        font-size: 11px;
    }
    .banner-secrch {
        margin: 20px auto 0;
    }
    .section-div {
        padding: 25px 0;
    }
    .section-head h2, .get-join-area h2 {
        font-size: 18px;
    }
    .effective-work-items .features-gigstoc-item {
        margin: 0 0 30px;
    }
    .projects-table .table td {
        display: block;
        text-align: center;
        padding: 5px;
    }
    .view-detail-btn.text-right {
        text-align: center !important;
    }
    .projects-table-btns li {
        display: block;
        margin: 5px 0;
    }
    .projects-table-btns li a, .view-jobs-btn a.btn {
        font-size: 11px;
        padding: 3px 3px 3px 20px;
        min-width: 240px;
    }
    .projects-table-btns li a i {
        height: 28px;
        width: 28px;
    }
    .testimonials-user h2 {
        font-size: 14px;
    }
    .get-join-section {
        padding: 30px 0 0;
    }
    .get-join-area p {
        font-size: 13px;
    }
    .header-main-af>div {
        margin: 5px;
    }
    .head-user-drop span.user-img {
        margin: 0;
    }
    .features-gigstoc-section::before {
        content: none;
    }
    .features-gigstoc-section {
        background: #0e79be;
    }
    .features-gi-iocn {
        margin: 0 0 20px;
    }
    .effective-work-items .features-gi-iocn {
        margin: 0 0 5px;
    }
    .features-gigstoc-item {
        margin: 0 0 15px;
        min-height: auto;
    }
    .features-gigstoc-items {
        margin: 0;
    }
    .main-footer {
        padding: 90px 0 45px;
    }
    .page-title .page-title-head {
        font-size: 16px;
        padding: 0;
        text-align: center;
    }
    .page-breadcrumb-head {
        display: none;
    }
    .page-title {
        padding: 10px 0;
    }
    .page-wt-back {
        padding: 20px 20px 80px;
    }
    .how-it-works-head h2 {
        font-size: 18px;
    }
    .how-it-works-head p {
        font-size: 14px;
    }
    .how-it-icn span {
        height: 100px;
        width: 100px;
        font-size: 40px;
        background-size: cover;
    }
    .how-it-cont h3 {
        font-size: 15px;
    }
    .how-it-cont p {
        font-size: 13px;
        line-height: 20px;
    }
    .faq-item .card .card-header button.btn {
        font-size: 12px;
    }
    .faq-item .card .card-body {
        text-align: justify;
    }
    .dashboard-div-item {
        margin: 0 0 10px;
        min-height: auto;
    }
    .dashboard-box-bottom .dashb-btm-txt {
        text-align: left !important;
    }
    .dashboard-pro-all ul li, .category-main-pro ul li {
        max-width: 50%;
        flex: 0 0 50%;
        margin: 0 0 10px;
    }
    .sign-area-inn {
        padding: 20px;
    }
    .page-wt-bk {
        padding: 20px;
    }
    .payment-type1.filter-right.text-right select {
        padding: 5px 10px;
        padding-right: 25px;
        background: #fff url(../images/select-droup.png) no-repeat right 8px center;
        font-size: 13px;
    }
    .createAgig-right-main.page-wt-bk.my-invoice {
        overflow: auto;
    }
    .my-invoice table {
        min-width: 750px;
        font-size: 12px;
    }
    .my-invoice table th {
        font-size: 13px;
    }
    .my-invoice table td .btn {
        font-size: 11px;
        min-width: 100px;
    }
    .recruit-now-form .form-group .col-md-4:not(:first-child) .form-input {
        margin: 25px 0 0;
    }
    
}
@media only screen and (max-width:680px) {
}
@media only screen and (max-width:640px) {
}
@media only screen and (max-width:575px) {
    .img-avatar {
        width: 70px;
    }
    .img-avatar a {
        width: 60px;
        height: 60px;
    }
    .message-item-cont {
        width: calc(100% - 70px);
    }
    .banner-cont-in .banner-secrch .input-group input,
    .banner-cont-in .banner-secrch .input-group form button.btn {
        font-size: 11px;
        padding: 10px;
    }
    .faq-item .card .card-header button.btn::after {
        height: 22px;
        width: 22px;
        right: -8px;
        background-size: 50% !important;
    }
    .input-group-prepend {
        min-width: 30px;
        font-size: 13px;
    }
    .banner-img img {
        min-height: 210px;
        object-fit: cover;
    }
    .banner-section .banner-slider .owl-nav button {
        height: 30px;
        width: 30px;
        font-size: 30px;
    }
    .freelancer-text p {
        font-size: 12px;
    }
    .section-head h2, .get-join-area h2 {
        font-size: 15px;
    }
    .header-main-af {
        justify-content: center;
    }
    .sign-head {
        margin: 0 0 25px;
        padding-left: 25px;
    }
    .sign-head h2::before {
        left: -35px;
        width: 25px;
    }
    .form-lets-icn span:after {
        min-height: 41px;
    }
    .dashboard-div-item h2 {
        font-size: 18px;
    }
    .banner-cont-in h2 {
        font-size: 17px;
    }
    
}
@media only screen and (max-width:480px) {
}
@media only screen and (max-width:425px) {
    .dashboard-pro-all ul li, .category-main-pro ul li {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .sellers-img {
        height: 200px;
    }
}
@media only screen and (max-width:360px) {
}
@media only screen and (max-width:320px) {
}
@media only screen and (max-width : 640px) and (orientation : landscape) {
}
@media only screen and (max-width : 320px) and (orientation : portrait) {
}
@media only screen and (min-height: 620px) {
}
